include ../material-icons/material-icons.pug

mixin subscription-text-field(placeholder)
  .subscription-text-field
    input(type='email', name='input-email', class='subscription-text-field__field', placeholder='Email')
    .subscription-text-field__arrow
      +material-icons('arrow_forward', {
        'background': 'linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)',
        '-webkit-background-clip': 'text',
        '-webkit-text-fill-color': 'transparent'
      })



//- ***************
//- *** EXAMPLE ***
//- 
//- +subscription-text-field('Email')
//- 
//- ***************