form(class="form-sign-in form-registration" action="#" name="form-sign-in" method="post")
    h1.form-find-hotel-room__label Войти

    .input.margin-t-20
        input(type="email", name="input-email", class="input__field", placeholder="Email") 
    .input.margin-t-10
        input(type="password", name="input-email", class="input__field", placeholder="Пароль") 

    .margin-t-20
        button(type="submit" class="button button_long") Войти
            span.material-icons.button_long__arrow arrow_forward

    .sign-in-link.margin-t-30
        span Нет аккаунта на Toxin
        button(href="#" class="button button_faint") Создать