include ../logotype/logotype.pug
include ../button/button.pug
include ../material-icons/material-icons.pug
include ../list-of-links/list-of-links.pug

mixin nav-bar({ isLoggedIn = true, userName = 'Cosmin Negoita', links = [], loginButtonText = 'Login', registerButtonText = 'Register' } = {})
  nav.nav-bar
    .nav-bar__inner
      +logotype()
      .nav-bar__menu
        .nav-bar__list
          +list-of-links({ links: links })
        if !isLoggedIn
          .nav-bar__login
            +button({
              styleType: 'faint', 
              href: '/mock-address/change-me', 
              text: loginButtonText, 
              size: 'narrow',
            })
          .nav-bar__register
            +button({
              styleType: 'simple', 
              href: '/mock-address/change-me', 
              text: registerButtonText, 
              size: 'narrow',
            })
        else
          .nav-bar__vertical-line
          .nav-bar__user-name=userName


//- ******** EXAMPLE *********
//- +nav-bar({
//-   isLoggedIn: false, 
//-   links: [
//-     { text: 'О нас' },
//-     { text: 'Услуги', isDropdown: true },
//-     { text: 'Вакансии'  },
//-     { text: 'Новости' },
//-     { text: 'Соглашения', isDropdown: true },
//-   ],
//-   loginButtonText: 'Войти',
//-   registerButtonText: 'Зарегистрироваться'
//- })