include ../logotype/logotype.pug
include ../button/button.pug
include ../material-icons/material-icons.pug
include ../list-of-links/list-of-links.pug

mixin nav-bar({ isLoggedIn = true, userName = 'Cosmin Negoita', links = [], loginButtonText = 'Login', registerButtonText = 'Register', indentBetweenElements = null, } = {})
  case indentBetweenElements
    when 'large'
      - indentModifier = 'nav-bar__list_indent_large'


  nav.nav-bar
    .nav-bar__inner
      +logotype()
      .nav-bar__menu
        .nav-bar__list(class=indentModifier)
          +list-of-links({ links, indentBetweenElements, })
        if !isLoggedIn
          .nav-bar__login
            +button({
              styleType: 'faint', 
              href: '/mock-address/change-me', 
              text: loginButtonText, 
              size: 'narrow',
            })
          .nav-bar__register
            +button({
              styleType: 'simple', 
              href: '/mock-address/change-me', 
              text: registerButtonText, 
              size: 'narrow',
            })
        else
          .nav-bar__vertical-line
          .nav-bar__user-name=userName