extends ../../index




block variables
    - var pageTitle = 'Headers & footers'

block content
  include ../../../blocks/logo-ui-kit/logo-ui-kit.pug
  include ../../../blocks/nav-bar/nav-bar.pug
  include ../../../blocks/footer-widgets/footer-widgets.pug
  include ../../../blocks/footer-quote/footer-quote.pug


  main.headers-and-footers
    +logo-ui-kit()
    article.headers-and-footers__item
      +nav-bar({ page: 'ui-kit', 'isLoggedIn': false })
    article.headers-and-footers__item
      +nav-bar({ page: 'ui-kit', 'isLoggedIn': true })
    article.headers-and-footers__item
      +footer-widgets({ page: 'ui-kit' })
    article.headers-and-footers__item
      +footer-quote()