.search-room {
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  width: 100%;

  &__inner {
    max-width: 1160px;
    display: grid;
    grid-template-columns: 325px auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'side-bar title' 'side-bar elements' 'side-bar pagination';
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 76px;

    @media (min-width: 550px) and (max-width: 1160px) {
      grid-template-columns: 280px auto;
    }
  
    @media (max-width: 550px) {
      display: grid;
      grid-template-columns: 266px;
      grid-template-rows: auto auto auto auto auto auto;
      grid-template-areas: 'side-bar' 'side-bar' 'side-bar' 'title' 'elements' 'pagination';
      justify-content: center;
    }
  
    @media (max-width: 1200px){
      margin-right: 10px;
      margin-left: 10px;
    }
  } 

  &__side-bar { 
    grid-area: side-bar; 
  }

  &__side-bar-inner {
    max-width: 266px;
  }

  &__dropdown_guests {
    width: 266px;
  }

  &__range-slider-description {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: $shade;
    margin-top: 14px;
  }
  
  &__title { 
    grid-area: title; 
  }
  
  &__elements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-area: elements;
    grid-column-gap: 12px;
    grid-row-gap: 20px;
    padding-top: 20px;

    @media (max-width: 1112px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;
    }

    @media (max-width: 834px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
  
  &__pagination { 
    grid-area: pagination; 
    justify-self: center;
    padding-top: 44px;
    margin-left: -14px;
  }
  
  &__filter-date {
    margin-top: 5px;
  }

  &__dropdown-guests-heading {
    margin-top: 20px;
  }

  &__dropdown-guests {
    margin-top: 5px;
  }

  &__range-slider {
    margin-top: 31px;
  }
  &__checkbox-buttons-heading {
    margin-top: 30px;
  }

  &__checkbox-buttons {
    margin-top: 16px;
  }

  &__checkbox-button {
    margin-top: 10px;
  }

  &__rich-checkbox-heading {
    margin-top: 30px;
  }

  &__rich-checkbox {
    margin-top: 15px;
  }

  &__rich-checkbox-second {
    margin-top: 7px;
  }
  &__rich-checkbox-heading {
    margin-top: 30px;
  }

  &__dropdown-furniture-heading {
    margin-top: 29px;
  }

  &__dropdown-furniture {
    margin-top: 5px;
  }

  &__rich-expandable-checkbox {
    margin-top: 11px;
  }

  &__rich-dropdown-checkbox {
    margin-top: 10px;
  }
}