include ../text-field/text-field.pug
include ../heading/heading.pug
include ../material-icons/material-icons.pug

mixin dropdown-date-item({ header = 'date dropdown', type = 'start' } = {})
  .dropdown-date-item
    +heading({ type: 'h3', text: header })
    .dropdown-date-item__input
      .dropdown-date-item__keyboard-arrow
        +material-icons({
          type: 'keyboard_arrow_down', 
        })
      div(class=`dropdown-date-item__input-${type}-date`)
        +text-field({
          type: 'text',
          placeholder: 'ДД.ММ.ГГГГ',
          readonly: 'readonly',
          theme: 'date-field',
          cursor: 'pointer',
        })