.color-block{
  display: flex;
  height: 70px;
  width: 270px;

  &__rect {
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
  }
  
  &__title {
    margin: 0;
    font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: rem(19px);
    line-height: 29px;
  }

  &__description {
    margin: 0;
    font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: rem(19px);
    line-height: 29px;
  }

  &_color {
    &_darkest-gray {
      background: $dark-shade-100;
    }
    &_dark-gray {
      background: $dark-shade-75;
    }
    &_gray {
      background: $dark-shade-50;
    }
    &_light-gray {
      background: $dark-shade-25;
    }
    &_lightest-gray {
      background: $dark-shade-5;
    }
    &_purple {
      background: #BC9CFF;
    }
    &_green {
      background: #6FCF97;
    }
  }
}
