mixin color-block({ text = 'Color', description = 'Description', bgColor = 'darkest-gray' } = {})
  - let colorModifier = ''

  case bgColor
    when 'dark-shade-100'
      - colorModifier = 'color-block_color_darkest-gray'
    when 'dark-shade-75'
      - colorModifier = 'color-block_color_dark-gray'
    when 'dark-shade-50'
      - colorModifier = 'color-block_color_gray'
    when 'dark-shade-25'
      - colorModifier = 'color-block_color_light-gray'
    when 'dark-shade-5'
      - colorModifier = 'color-block_color_lightest-gray'
    when 'purple'
      - colorModifier = 'color-block_color_purple'
    when 'green'
      - colorModifier = 'color-block_color_green'

  .color-block
    div(class=`color-block__rect ${colorModifier}`)
    .color-block__text
      p.color-block__title=text
      p.color-block__description=description