button(href="#" class="button button_simple") click me

button(href="#" class="button button_faint") click me

button(href="#" class="button button_no-frame") click me

button(href="#" class="button button_long") click me
    span.material-icons.button_long__arrow arrow_forward