@import './_faint/button_faint';
@import './_no-frame/button_no-frame';
@import './_simple/button_simple';

.button{
  display: block;
  width: 99px;
  height: 44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: none;
  padding: 0;
  box-sizing: content-box;

  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: rem(12px);
  line-height: 15px;
  text-transform: uppercase;
}