.button {
  display: block;
  min-width: 99px;
  min-height: 44px;
  padding: 14px 18px 15px 18px;
  height: max-content;
  width: max-content;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: none;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none; 
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &__arrow {
    position: absolute;
    height: 44px;
    width: 44px;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // Px to exclude px-to-rem plugin auto transform
  &__key {
    display: block;
    height: 100%;
    width: 100%;
    background: #fff;
    padding: 12px 16px 13px 16px;
    border-radius: 22px;
    border: none;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: $purple;
    cursor: pointer;
    white-space: nowrap;
  
    &:focus {
      outline: none;
    }
  }

  &_faint {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    border-radius: 22%/50%;
    padding: 2Px;
    box-sizing: border-box;
      
    &:hover {
      background: linear-gradient(180deg, rgba(188, 156, 255, .5) 0%, rgba(139, 164, 249, .5) 100%);
    }

    &.button_size_narrow {
      padding: 2px;
      min-width: 79px;

      & .button__key {
        padding-top: 7px;
        padding-bottom: 8px;
      }
    }
  }

  &_long {
    width: 100%;
    max-width: 320px;
    color: #fff;
    position: relative;
  
    &:hover {
      opacity: .5;
    }
  }

  &_no-frame {
    background: none;
    max-width: max-content;
    min-width: max-content;
    height: auto;
    padding-right: 0;
    padding-left: 0;
    color: $purple;
    box-sizing: border-box;
  
    &:hover {
      color: $shade;
    }
  }

  &_simple {
    color: #fff;
  
    &:hover {
      opacity: 0.5;
    }
  }

  &_size {

    &_small {
      min-width: 79px;
      min-height: 34px;
    }

    &_narrow {
      padding-top: 9px;
      padding-bottom: 10px;
      min-width: 79px;
      min-height: 34px;
    }
  }

}