mixin button(options)
  case options.type
    when 'simple'
      button(href=options.href class='button button_simple' style=options.style)=options.text
    when 'no-frame'
      button(href=options.href class='button button_no-frame' style=options.style)=options.text
    when 'faint'
      .button_faint-wrap(style=options.style)
        button(href=options.href class='button button_faint')=options.text

//- **********
//- 
//- 
//-   +button({
        'type': 'faint', 
        'href':'/mock-address/change-me', 
        'text': 'Войти', 
        'style': {
          'width': '99px',
          'height': '44px'
        }
      })