mixin button({ typeOfStyle = 'simple', href = '/mock-address/change-me', style = '', text = 'click me' } = {})
  if typeOfStyle == 'faint'
    .button_faint-wrap(style=style)
      button(href=href class='button button_faint')=text
  else
    button(href=href class=`button button_${typeOfStyle}` style=style)=text


//- **********
//- 
//- 
//-   +button({
        'type': 'faint', 
        'href':'/mock-address/change-me', 
        'text': 'Войти', 
        'style': {
          'width': '99px',
          'height': '44px'
        }
      })