.button{
    width: 99px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    border: none;

    font-family: "Montserrat-Bold";
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    padding: 0;
}