.text-field {
  display: inline-block;
  width: 100%;
  max-width: 320px;
  position: relative;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
  background: #FFFFFF;
  border: 1px solid $light-shade;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 42px;
  color: $light-shade;

  &:focus, 
  &:hover {
    border: 1px solid $shade;
    color: $dark-shade;
    outline: none;
  }

  &::placeholder {
    color: $light-shade;
  }

  &_masked {
 
    &:focus, 
    &:hover {
      border: 1px solid $shade;
      color: $dark-shade;
      outline: none;
    }
  
    &::placeholder {
      color: $light-shade;
    }
  }

  &_dark {
    color: $dark-shade;
  
    &::placeholder {
      color: $dark-shade;
    }
  
    &:focus, 
    &:hover {
      border: 1px solid $light-shade;
    }
  }

  &_wide {
    width: 100%;
  }

  &_clickable {
    cursor: pointer;
  }
}
