include ../radio-button/radio-button.pug
include ../heading/heading.pug
include ../text-field/text-field.pug
include ../toggle-button/toggle-button.pug
include ../button/button.pug

mixin registration-form( { action='/mock-address/change-me', name='registration-form', method='post' } = {} )
  form.registration-form(action=action name=name method=method)
    .registration-form__wrapper
      .registration-form__heading
        +heading({ type: 'h1', text: 'Регистрация аккаунта' })

      .registration-form__text-field-first-name
        +text-field({
          type: 'text',
          name: 'input-email',
          placeholder: 'Имя',
          width: 'full-wide',
        })
      .registration-form__text-field-second-name
        +text-field({
          type: 'text',
          name: 'input-email',
          placeholder: 'Фамилия',
          width: 'full-wide',
        })

      .registration-form__radio-buttons
        .registration-form__radio-button
          +radio-button({ name:'registration-form', value:'man', text:'Мужчина', checked:'true' })
        .registration-form__radio-button
          +radio-button({ name:'registration-form', value:'woman', text:'Женщина' })

      .registration-form__heading-birthday
        +heading({ type: 'h3', text: 'Дата рождения' })
      
      .registration-form__masked-text-field-birthday
        +text-field({
          placeholder: 'ДД.ММ.ГГГГ',
          theme: 'masked'
        })

      .registration-form__heading-login-data
        +heading({ type: 'h3', text: 'Данные для входа в сервис' })

      .registration-form__text-field-email
        +text-field({
          type: 'email',
          name: 'input-email',
          placeholder: 'Email',
        })
      .registration-form__text-field-password
        +text-field({
          type: 'password',
          name: 'input-email',
          placeholder: 'Пароль',
        })

      .registration-form__toggle-button
        +toggle-button({ name: 'toggle', text: 'Получать спецпредложения' })

      .registration-form__button-long
        +button({
          typeOfStyle: 'long', 
          text: 'Перейти к оплате',
          type: 'submit',
        })   

      .registration-form__login
        p.registration-form__login-text Уже есть аккаунт на Toxin
        +button({
          typeOfStyle: 'faint', 
          href:'/mock-address/change-me', 
          text: 'Войти', 
        })
