.input__field{
    width: 320px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid $dark-shade-25;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 129%; // 18px
    color: $dark-shade-25;
    font-family: "Montserrat";
    position: relative;
    padding-left: 15px;

    &:focus, &:hover{
        border: 1px solid $dark-shade-50;
        color: $dark-shade-75;
        outline: none;
    }
}