extends template


block variables
    - var pageTitle = 'Registration'

block content

    include ../../blocks/form-registration/form-registration.pug

    .registration__back(style="background-image: url('./img/sign-background.jpg')")
      .registration__form-registration
        +form-registration()
