extends template


block variables
    - var pageTitle = 'Registration'

block content

    include ../../blocks/form-registration/form-registration.pug

    article.registration__back
      section.registration__form-registration
        +form-registration()
