extends template


block variables
    - var pageTitle = 'Sign in'

block content
    include ../../blocks/form-sign-in/form-sign-in.pug

    .sign-in__back(style="background-image: url('./img/sign-background.jpg')")
      .sign-in__container
        +form-sign-in()
