block variables

doctype html
html(lang='en')
  head
    title= pageTitle
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
      
  body
    include ../../blocks/nav-bar/nav-bar.pug
    include ../../blocks/footer-widgets/footer-widgets.pug

    +nav-bar({'page': 'website-pages', 'isLoggedIn': false})

    block content

    +footer-widgets({page: 'website-pages'})
