.sign-in {
  height: 700px - 17px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  position: relative;

  @media (max-width: 456px) {
    height: 35%;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;       
  }
}


