include ../material-icons/material-icons.pug

mixin pagination()
  ul.pagination
    li.pagination__item.pagination__item_active
      a.pagination__link.pagination__link_active(href='/mock-address/change-me') 1
    li.pagination__item
      a.pagination__link(href='/mock-address/change-me') 2
    li.pagination__item
      a.pagination__link(href='/mock-address/change-me') 3
    li.pagination__item
      a.pagination__link(href='/mock-address/change-me') ...
    li.pagination__item
      a.pagination__link(href='/mock-address/change-me') 15
    li.pagination__item.pagination__item_next
      a.pagination__link.pagination__link_next(href='/mock-address/change-me')
        +material-icons({
          type: 'arrow_forward', 
          color: 'white'
        })
    p.pagination__description 1 – 12 из 100+ вариантов аренды