.form-elements-container {
    width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:  "fields         check-buttons     buttons" 
                          "left-dropdown  middle-dropdown   right-dropdown" 
                          "left-comments  comments          comments";
    grid-row-gap: 100px;
    grid-column-gap: 10px;
    @media (max-width: 918px) {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto;

        grid-template-areas:    "fields check-buttons" 
                                "buttons left-dropdown"
                                "buttons left-comments"
                                "middle-dropdown right-dropdown"
                                "comments comments"
                                ;
        grid-row-gap: 0px;
    }
    @media (max-width: 618px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;

        grid-template-areas:    "fields" 
                                "check-buttons" 
                                "buttons"
                                "left-dropdown"
                                "middle-dropdown"
                                "right-dropdown"
                                "left-comments"
                                "comments"
                                ;
        grid-row-gap: 0px;
    }
  }
  
  .form-elements-fields { grid-area: fields;}
  
  .form-elements-check-buttons { grid-area: check-buttons; }
  
  .form-elements-buttons { grid-area: buttons; }
  
  .form-elements-left-dropdown { grid-area: left-dropdown; }
  
  .form-elements-left-comments { grid-area: left-comments; }

  .form-elements-middle-dropdown {

  }
  
  .form-elements-right-dropdown {

  }
  
  .form-elements-comments { grid-area: comments; }

  .wrapper{
      margin-bottom: 40px;
     
  }


.form-elements-container_wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
}