include ../material-icons/material-icons.pug
include ../text-field/text-field.pug

mixin dropdown-filter-date()
  section.dropdown-filter-date.js-dropdown-filter-date
    .dropdown-filter-date__keyboard-arrow
      +material-icons({
        type: 'keyboard_arrow_down', 
      })
    .dropdown-filter-date__input
      +text-field({
        type: 'text',
        placeholder: 'ДД МЕС - ДД МЕС',
        readonly: 'readonly',
        theme: 'date-field',
        cursor: 'pointer',
      })