include ../dropdown-calendar/dropdown-calendar.pug

mixin dropdown-filter-date()
  section.dropdown-filter-date.js-dropdown-filter-date
    .dropdown-filter-date__keyboard-arrow
      +material-icons('keyboard_arrow_down')
    .dropdown-filter-date__input
      +text-field({
        type: 'text',
        placeholder: 'ДД МЕС - ДД МЕС',
        readonly: 'readonly',
        theme: 'date-field',
        style: {
          'cursor': 'pointer'
        },
      })
    .dropdown-filter-date__dropdown-calendar
      +dropdown-calendar()