.dropdown-filter-date_wrapper
    .dropdown.dropdown-filter
        .keyboard-arrow
            i.material-icons.keyboard-arrow__down keyboard_arrow_down
        input(type="text" name='main-date' class="main-date input__field dropdown-filter__input" placeholder="ДД МЕС - ДД МЕС" )

    .dropdown-filter-date-calendar
        span.material-icons.arrow_back arrow_back
        span.material-icons.arrow_forward arrow_forward
        .dropdown-calendar-buttons
            span.option-button__clear.dropdown-filter-calendar-buttons__clear Очистить
            span.dropdown-calendar-buttons__apply.option-button__apply Применить