@import './_h3/heading_h3';
@import './_h2/heading_h2';
@import './_h1/heading_h1';

.heading{
  font-family: 'Quicksand', 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  color: $dark-shade-100;
  margin: 0;
}