mixin heading({ type = 'h3', text = 'Header', color = null, weight = null, } = {})
  - let colorModifier = null
  - let weightModifier = null
  
  case color
    when 'light shade'
      - colorModifier = 'heading_color_light-shade'
  
  case weight
    when 'normal'
      - weightModifier = 'heading_weight_normal'

  #{type}.heading(class = `heading_type_${type} ${colorModifier} ${weightModifier}`)=text