mixin heading({ type = 'h3', text = 'Header', color = undefined, weight = undefined } = {})
  - let colorModifier = ''
  - let weightModifier = ''
  
  case color
    when 'dark-shade-25'
      - colorModifier = 'heading_color_light-gray'
  
  case weight
    when 'normal'
      - weightModifier = 'heading_weight_normal'

  p.heading(class = `heading_${type} ${colorModifier} ${weightModifier}`)=text



//- 
  +heading({ type: 'h3', text: 'hello world' })