.donut-chart{
  display: inline-block;
  width: 121px;
  height: 121px;
}

.pie {
  margin: 20px;
  user-select: none;
  & .name-text{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: rem(12px);
    font-weight: bold;
    line-height: 15px;
    text-transform: uppercase;
  }
  & .value-text{
    font-family: 'Quicksand', 'Open Sans';
    font-size: rem(24px);
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
  }
}

svg.pie{
  margin: 0;
}