include ../logotype/logotype.pug
include ../social-icons/social-icons

mixin footer-quote()
  footer.footer-quote
    +logotype()
    p.footer-quote__description Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    +social-icons()



