.option__item_circle{
    width: 30px;
    height: 30px;
    border: 1px solid $dark-shade-25;
    box-sizing: border-box;
    border-radius: 22px;
    font-family: "Montserrat";
    font-size: 18px;
    color: $dark-shade-50;
}