.range-slider__price{
  width: auto;
  max-width: 50%;
  text-align: end;
  border: none;
  pointer-events: none;
  font-family: "Montserrat";
  // font-size: 12px;
  font-size: .8rem;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark-shade-50;
}