.range-slider__price {
  width: auto;
  max-width: 50%;
  text-align: end;
  border: none;
  pointer-events: none;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: rem(12px);
  line-height: 15px;
  text-transform: uppercase;
  color: $dark-shade-50;
  margin-top: -2px;
}