include ../checkbox-button/checkbox-button.pug
include ../material-icons/material-icons.pug
include ../heading/heading.pug

mixin dropdown-checkbox({ title = 'expandable checkbox', values = [['cb1','Enter'], ['cb2','points'], ['cb3','here']] } = {})
  section.dropdown-checkbox.js-dropdown-checkbox
    .dropdown-checkbox__keyboard-arrow.js-dropdown-checkbox__keyboard-arrow
      +material-icons({
        type: 'keyboard_arrow_down', 
        color: 'shade',
      })
    .dropdown-checkbox__select.js-dropdown-checkbox__select
      +heading({ type: 'h3', text: title })
    .dropdown-checkbox__option.js-dropdown-checkbox__option.dropdown-checkbox__option_invisible
      each val in values
        .dropdown-checkbox__button
          +checkbox-button({ name: val[0], text: val[1] })

        

//- ***************
//- *** EXAMPLE ***
//- 
//- +dropdown-checkbox({
      title: 'expandable checkbox list',
      values: [
        ['checkbox3', 'Завтрак'],
        ['checkbox4', 'Письменный стол'],
        ['checkbox5', 'Стул для кормления'],
        ['checkbox6', 'Кроватка'],
        ['checkbox7', 'Телевизор'],
        ['checkbox8', 'Шампунь'],
        ['checkbox9', 'Телевизор'],
        ['checkbox10', 'Шампунь']
      ],
    })
//- 
//- ***************