include ../checkbox-button/checkbox-button.pug

mixin dropdown-checkbox( title = 'expandable checkbox', values = [['cb1','Enter'], ['cb2','points'], ['cb3','here']])
  section.dropdown-checkbox
    .dropdown-checkbox__keyboard-arrow
      +material-icons('keyboard_arrow_down', {
        'color': 'rgba(31, 32, 65, 0.5)'
      })
    .dropdown-checkbox__select
      +heading('h3', title)
    .dropdown-checkbox__option.dropdown-checkbox__option_unvisible
      each val in values
        .dropdown-checkbox__button
          +checkbox-button(val[0], val[1])
      else
        .p There is no value

        

//- ***************
//- *** EXAMPLE ***
//- 
//- +dropdown-checkbox(
//-   'dropdown checkbox list',
//-   [
//-     ['checkbox3', 'Завтрак'],
//-     ['checkbox4', 'Письменный стол'],
//-     ['checkbox5', 'Стул для кормления'],
//-     ['checkbox6', 'Кроватка'],
//-     ['checkbox7', 'Телевизор'],
//-     ['checkbox8', 'Шампунь'],
//-     ['checkbox9', 'Телевизор'],
//-     ['checkbox10', 'Шампунь']
//-   ]
//- )
//- 
//- ***************