// $border: 2px;

// .button_faint{
//   color: $purple;
//   background: #fff;

//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: relative;
//   box-sizing: border-box;
//   z-index: 10;
//   background-clip: padding-box; 
//   border: solid $border transparent; 
//   border-radius: 22px;
//   transform-style: preserve-3d;
// }

// .button_faint::after{
//   content: '';
//   width: 99px;
//   height: 44px;
//   background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
//   position: absolute;
//   top: 0; 
//   right: 0; 
//   bottom: 0; 
//   left: 0;
//   transform: translateZ(-1px);
//   margin: -$border; 
//   border-radius: inherit; 
// }

// .button_faint:hover:after{
//   opacity: .5;
// }
.button_faint_wrap{
  position: relative;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  height: 44px;
  min-width: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  &:hover{
    background: linear-gradient(180deg, rgba(188, 156, 255, .5) 0%, rgba(139, 164, 249, .5) 100%);
    .button_faint{
      color: rgba(188, 156, 255, .5);
    }
  }
}
.button.button_faint{
  background: #fff;
  color: $purple;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  
}
