include ../option-button/option-button.pug
include ../material-icons/material-icons.pug

mixin dropdown-calendar()
  .dropdown-calendar
    .dropdown-calendar__buttons
      +option-button({ type: 'clear', text: 'Очистить' })
      +option-button({ type: 'apply', text: 'Применить' })