
#ui-datepicker-div{
  display: none;
}

.ui-datepicker{
  width: 320px;
  height: 369px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;


  // Заголовок с месяцем
  .ui-datepicker-header{
    background: #fff;
    border: none;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
  }
  .ui-datepicker-title{
    font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
    // font-size: 19px;
    font-size: 1.2rem;
    line-height: 24px;
    text-align: center;
    color: $dark-shade-100;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next{
    margin-top: 20px;
    width: 24px;
    height: 24px;
  }

  .ui-datepicker-prev{
    margin-left: 20px;
  }
  .ui-datepicker-next{
    margin-right: 20px;
  }

  .ui-datepicker-prev span,
  .ui-datepicker-next span{
    display: none;
    background: none;
  }



  // Таблица с календарем
  .ui-datepicker-calendar{
    max-width: 280px;
    max-height: 240px;
    margin: 0 auto;
  }

  // Названия дней недели (шапка)
  thead span{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    // font-size: 12px;
    font-size: .8rem;
    line-height: 15px;
    color: $purple;
  }

  // Все дни недели
  td a{
    width: 40px ;
    height: 40px ;
    border: none;
    padding: 0 ;
    margin: 0 ;
    display: flex ;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    // font-size: 12px;
    font-size: .8rem;
    line-height: 15px;
  }

  // Простой день недели
  .ui-state-default{
    color: $dark-shade-50;
    border: none;
    background: none;
  }
  
  // Простой день недели другого месяца
  .ui-priority-secondary{
    color: $dark-shade-25;
  }

  // Строка в таблице
  tr{
    height: 40px;
  }

  // Текущий день
  .ui-state-highlight{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 50%;
    color: #fff;
  }

    

  /* первая дата периода */
  .selected-start .ui-state-active, 
  .selected-end .ui-state-active{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 50%;
    color: #fff;
  } 

  .selected{
    position: relative;
  }
  .selected a{
    color: $dark-shade-50;
  }

  .selected::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.25;
  }

  .selected-end::after{
    border-radius: 0 50% 50% 0;
  }
  .selected-start::after{
    border-radius: 50% 0 0 50%;
  } 
  
}

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
 margin: 0;
 padding: 0;
 border: none;
 border-spacing: 0;
}

.dropdown-calendar{
  display: none;
  height: 0;
  z-index: 11;
  max-width: 320px;
}

.dropdown-calendar_active{
  display: block;
  height: auto;
}

.dropdown-calendar-buttons{
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  box-sizing: border-box;
}

.dropdown-date_wrapper{
  position: relative;
}

.dropdown-calendar__arrow_back, 
.dropdown-calendar__arrow_forward{
  position: absolute;
  color: $purple;
  font-size: 24px;
  top: 22px;
  z-index: 11;
  pointer-events: none;
}
.dropdown-calendar__arrow_back{
  left: 20px;
}
.dropdown-calendar__arrow_forward{
  right: 20px;
}

