include ../option-button/option-button.pug
include ../material-icons/material-icons.pug

mixin dropdown-calendar()
  .dropdown-calendar
    .dropdown-calendar__buttons
      +option-button('clear', 'Очистить')
      +option-button('apply', 'Применить')