.dropdown-calendar
    span.material-icons.arrow_back arrow_back
    span.material-icons.arrow_forward arrow_forward
    .dropdown-calendar-buttons
        span.dropdown-calendar-buttons__clear.option-button__clear Очистить
        span.dropdown-calendar-buttons__apply.option-button__apply Применить