include ../material-icons/material-icons.pug
include ../subscription-text-field/subscription-text-field.pug
include ../logotype/logotype.pug
include ../copying-bar/copying-bar.pug

mixin vertical-menu(header, links)
  ul.footer-widgets__list
    li.footer-widgets__item
      h3=header
    each link in links
      li.footer-widgets__item
        a.footer-widgets__link(href=link.href)=link.text 


mixin footer-widgets()
  .footer-widgets
    .footer-widgets__inner
      ul.footer-widgets__list
        li.footer-widgets__item
          .footer-widgets__logotype
            +logotype()
        li.footer-widgets__item
          p.footer-widgets__description Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
      
      .footer-widgets__menu
        +vertical-menu('Navigation', 
        [
          {href: '/mock-address/change-me', text: 'About us'},
          {href: '/mock-address/change-me', text: 'News'},
          {href: '/mock-address/change-me', text: 'Support'},
          {href: '/mock-address/change-me', text: 'Products'},
        ])
        +vertical-menu('About us', 
        [
          {href: '/mock-address/change-me', text: 'Who we are'},
          {href: '/mock-address/change-me', text: 'Our team'},
          {href: '/mock-address/change-me', text: 'Careers'},
          {href: '/mock-address/change-me', text: 'Investors'},
        ])
        +vertical-menu('Support', 
        [
          {href: '/mock-address/change-me', text: 'Documentation'},
          {href: '/mock-address/change-me', text: 'Community'},
          {href: '/mock-address/change-me', text: 'Get in Touch'},
        ])

      ul.footer-widgets__list
        li.footer-widgets__item
          h3 Subscribe to our newsletter
        li.footer-widgets__item
          p.footer-widgets__description Receive our latest news and promotions in your inbox!
        li.footer-widgets__item
          .footer-widgets__subscription-text-field
            +subscription-text-field('Your email address')
  .footer-widgets__copying-bar      
    +copying-bar('Copyright © 2018 Toxin UI Kit. All rights reserved.')