.footer-widgets__wrapper
    .footer-widgets
        .footer-widgets-container
            
            .footer-widgets-column
                ul.nav-bar__list.footer-widgets__list
                    li.nav-bar__item.footer-widgets__item
                        .nav-bar__icon.footer-widgets__icon
                            img(class="nav-bar__icon-image" src="../../../img/nav-bar-icon.svg")
                            img(class="nav-bar__icon-text" src="../../../img/nav-bar-icon-text.svg")
                    li.nav-bar__item.footer-widgets__item
                        p.footer-widgets__descr Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.

            .footer-widgets-column
                ul.nav-bar__list.footer-widgets__list
                    li.nav-bar__item.footer-widgets__item
                        h3 Navigation
                    li.nav-bar__item.footer-widgets__item
                        a.nav-bar__link(href="#") About us
                    li.nav-bar__item.footer-widgets__item
                        a.nav-bar__link(href="#") News
                    li.nav-bar__item.footer-widgets__item
                        a.nav-bar__link(href="#") Support
                    li.nav-bar__item.footer-widgets__item
                        a.nav-bar__link(href="#") Products


            .footer-widgets-column
                ul.nav-bar__list
                    li.nav-bar__item.footer-widgets__item
                        h3 About us
                    li.nav-bar__item.footer-widgets__item
                        a.nav-bar__link(href="#") Who we are
                    li.nav-bar__item.footer-widgets__item
                        a.nav-bar__link(href="#") Our tean
                    li.nav-bar__item.footer-widgets__item
                        a.nav-bar__link(href="#") Careers
                    li.nav-bar__item.footer-widgets__item
                        a.nav-bar__link(href="#") Investors


            .footer-widgets-column
                ul.nav-bar__list
                    li.nav-bar__item.footer-widgets__item
                        h3 Support
                    li.nav-bar__item.footer-widgets__item
                        a.nav-bar__link(href="#") Documentation
                    li.nav-bar__item.footer-widgets__item
                        a.nav-bar__link(href="#") Community
                    li.nav-bar__item.footer-widgets__item
                        a.nav-bar__link(href="#") Get in Touch


            .footer-widgets-column
                ul.nav-bar__list
                    li.nav-bar__item.footer-widgets__item
                        h3 Subscribe to our newsletter
                    li.nav-bar__item.footer-widgets__item
                        p.footer-widgets__subs-text Receive our latest news and promotions in your inbox!
                    li.nav-bar__item.footer-widgets__item
                        .input.subscription-text-field.footer-widgets__subscription-text-field
                            input(type="email", name="input-email", class="input__field subscription-text-field__field", placeholder="Your email address")
                            span.material-icons.subscription-text-field__arrow arrow_forward


    .footer-widgets-copyring
        .footer-widgets-copyring__inner
            .footer-widgets-copyring__descr Copyright © 2018 Toxin UI Kit. All rights reserved.
            .footer-widgets-copyring__social-icons
                a(class="twitter" href="#")
                    img(src="../../img/twitter-icon.svg", alt="twitter-icon")
                a(class="facebook" href="#")
                    img(src="../../img/facebook-icon.svg", alt="facebook-icon")
                a(class="instagramm" href="#")
                    img(src="../../img/instagramm-icon.svg", alt="instagramm-icon")