include ../subscription-text-field/subscription-text-field.pug
include ../logotype/logotype.pug
include ../copying-bar/copying-bar.pug
include ../heading/heading.pug

mixin vertical-menu({ header = 'title', links = [] } = {})
  ul.footer-widgets__list
    li.footer-widgets__item
      +heading({ type: 'h3', text: header })
    each link in links
      li.footer-widgets__item
        if link.href === undefined
          - link.href = '/mock-address/change-me'
        if link.text === undefined
          - link.text = 'click me'
        a.footer-widgets__link(href=link.href)=link.text 


mixin footer-widgets( { description = 'Description', subscribeHeading = 'Subscribe', subscribeDescription = 'Sub descr', emailPlaceHolder = 'Email', copying = 'copying', verticalMenus = [] } = {} ) 
  footer.footer-widgets
    .footer-widgets__inner
      ul.footer-widgets__list
        li.footer-widgets__item
          .footer-widgets__logotype
            +logotype()
        li.footer-widgets__item
          p.footer-widgets__description=description
      
      .footer-widgets__menu
        each menu in verticalMenus
          +vertical-menu({ 
            header: menu.heading, 
            links: menu.links
          })

      ul.footer-widgets__list
        li.footer-widgets__item
          +heading({ type: 'h3', text: subscribeHeading })
        li.footer-widgets__item
          p.footer-widgets__description=subscribeDescription
        li.footer-widgets__item
          .footer-widgets__subscription-text-field
            +subscription-text-field({ placeholder: emailPlaceHolder })
  section.footer-widgets__copying-bar      
    +copying-bar({ text: copying })


//- ***** EXAMPLE *****
//- 
  +footer-widgets( { 
    description: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.', 
    subscribeHeading: 'Subscribe to our newsletter', 
    subscribeDescription: 'Receive our latest news and promotions in your inbox!', 
    emailPlaceHolder: 'Your email address', 
    copying: 'Copyright © 2018 Toxin UI Kit. All rights reserved.', 
    verticalMenus: [
      {
        heading: 'Navigation',
        links: [
          { text: 'About us' },
          { text: 'News' },
          { text: 'Support' },
          { text: 'Products' },
        ]
      },
      {
        heading: 'About us',
        links: [
          { text: 'Who we are' },
          { text: 'Our team' },
          { text: 'Careers' },
          { text: 'Investors' },
        ]
      },
      {
        heading: 'Support',
        links: [
          { text: 'Documentation' },
          { text: 'Community' },
          { text: 'Get in Touch' },
        ]
      },
    ] 
  })