include ../material-icons/material-icons.pug

mixin rate-button({ name = 'rate-button', checkNum = 5 } = {})
  - var i = 0;
  span.rate-button.js-rate-button
    while i < 5
      label.rate-button__label
        +material-icons({
          type: 'star_border', 
          color: 'purple-gradient'
        })
        if checkNum-1==i
          input.rate-button__input(type='radio' name=name value=i++ checked='checked')
        else
          input.rate-button__input(type='radio' name=name value=i++)



//- ***************
//- *** EXAMPLE ***
//- 
//- +rate-button({ name: 'rate01', checkNum: 3 })
//- +rate-button({ name: 'rate02', checkNum: 2 })
//- 
//- ***************






    
