.dropdown-date_input_wrapper
    .dropdown.dropdown_date
        h3.dropdown__label Прибытие
        .keyboard-arrow
            i.material-icons.keyboard-arrow__down.dropdown-date__arrow keyboard_arrow_down
        input(type="text" name='startDate' class="startDate masked-text-field__input input__field dropdown_date__input" placeholder="ДД.ММ.ГГГГ" readonly)
    
    .dropdown.dropdown_date
        h3.dropdown__label Выезд
        .keyboard-arrow
            i.material-icons.keyboard-arrow__down.dropdown-date__arrow keyboard_arrow_down    
        input(type="text" name='endDate' class="endDate masked-text-field__input input__field dropdown_date__input" placeholder="ДД.ММ.ГГГГ" readonly)