include ../heading/heading.pug
include ../dropdown-date/dropdown-date.pug
include ../dropdown/dropdown.pug
include ../button-long/button-long.pug

mixin form-find-hotel-room( { name='form-find-hotel-room', action='/mock-address/change-me', method='get' } = {})
  form.form-find-hotel-room(name=name action=action method=method)
    .form-find-hotel-room__wrapper
      .form-find-hotel-room__heading
        +heading('h1', 'Найдём номера под ваши пожелания')
      .form-find-hotel-room__dropdown-date
        +dropdown-date('Прибытие', 'Выезд')
      .form-find-hotel-room__dropdown
        +heading('h3', 'Гости')
        .form-find-hotel-room__dropdown-container
          +dropdown('guests')
      .form-find-hotel-room__button-long
        +button-long({
          href: '/mock-address/change-me', 
          text: 'Подобрать номер',
          type: 'submit',
        })