mixin radio-button({ name = 'radio-button' , value = '', text = 'radio-button', checked = undefined } = {})
  .radio-button
    label(class='radio-button__label')
      input(type='radio' name=name value=value class='radio-button__input' checked= checked ? 'checked' : checked)
      p.radio-button__text=text

//- ***************
//- *** EXAMPLE ***
//- 
//- 
//-   +radio-button({name:'contact', value:'man', text:'Мужчина', checked:'true'})
//-   +radio-button({name:'contact', value:'woman', text:'Женщина'})
//-   
//- 
//- ***************