.radio-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 320px;

  &__input {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    box-sizing: border-box;
    width: 20px;
    height: 20px;

    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #FFFFFF;
      border: 1px solid $dark-shade-25;
      box-sizing: border-box;
      border-radius: 50%;
      cursor: pointer;
    }

    // px into Px just to ignore px-to-rem plugin transformation
    &::after {
      content: '';
      display: inline-block;
      width: 12Px;
      height: 12Px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: transparent;
      border-radius: 50%;
      z-index: 9;
      cursor: pointer;
      margin: 0;
      padding: 0;
    }
  
    &:checked {
  
      &::before {
        border: 1px solid $purple;
      }
  
      &::after {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      }

      + .radio-button__text {
        color: $dark-shade-75;
      }
    }
  }

  &__label {
    position: relative;
    height: 24px;
    margin-left: 30px;
  }

  &__text {
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade-50;
    cursor: pointer;
  }
}