.radio-button
    input(type="radio" id="contactChoice1" name="contact" value="" class="radio-button__input" checked)
    label(for="contactChoice1" class="radio-button__label") Мужчина
    input(type="radio" id="contactChoice2" name="contact" value="" class="radio-button__input")
    label(for="contactChoice2" class="radio-button__label") Женщина