.radio-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 320px;

  &__input {
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;

    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: -5px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #FFFFFF;
      border: 1px solid $dark-shade-25;
      border-radius: 50%;
      box-sizing: border-box;
      vertical-align: middle;
    }

    &::after {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      position: absolute;
      left: -1px;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;
      border-radius: 10px;
      z-index: 9;
    }
  
    &:checked {
  
      &::before {
        text-align: center;
        border: 1px solid $purple;
      }
  
      &::after {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      }

      + .radio-button__text {
        color: $dark-shade-75;
      }
    }
  }

  &__label {
    position: relative;
    height: 24px;
    margin-left: 30px;
  }

  &__text {
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade-50;
    cursor: pointer;
  }
}