mixin radio-button({ name = 'radio-button' , value = null, text = 'radio-button', isChecked = false } = {})
  .radio-button
    label(class='radio-button__label')
      input(type='radio' name=name value=value class='radio-button__input' checked= isChecked ? 'checked' : null)
      span.radio-button__circle
        i.radio-button__thumb
      span.radio-button__text=text

//- ***************
//- *** EXAMPLE ***
//- 
//- 
//-   +radio-button({name:'contact', value:'man', text:'Мужчина', checked:'true'})
//-   +radio-button({name:'contact', value:'woman', text:'Женщина'})
//-   
//- 
//- ***************