.checkbox-button__label {
  padding-left: 30px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $dark-shade-50;
  cursor: pointer;

  &::before {
    content: '';
    display: inline-block;
    margin-left: -30px;
    margin-right: 9px;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: middle;
  }
}