extends ../../index

mixin color-block(text, descr, col)
  .color
    div(style=`background: ${col}` class='color__rect')
    .color__text
      p.color__title=text
      p.color__descr=descr


block variables
    - var pageTitle = 'Colors & Type'


block content
    include ../../../blocks/logo-ui-kit/logo-ui-kit.pug
    include ../../../blocks/heading/heading.pug

    +logo-ui-kit()
    .colors-and-type__container
      .colors-and-type
        article.colors-and-type__colors
          +color-block('Dark Shade 100%', '#1F2041', 'rgba(31, 32, 65, 1)')
          +color-block('Dark Shade 75%', '#1F2041', 'rgba(31, 32, 65, .75)')
          +color-block('Dark Shade 50%', '#1F2041', 'rgba(31, 32, 65, .5)')
          +color-block('Dark Shade 25%', '#1F2041', 'rgba(31, 32, 65, .25)')
          +color-block('Dark Shade 5%', '#1F2041', 'rgba(31, 32, 65, .05)')
          +color-block('Purple', '#BC9CFF', '#BC9CFF')
          +color-block('Green', '#6FCF97', '#6FCF97')

        article.colors-and-type__headers
          .colors-and-type__item
            .colors-and-type__h 
              +heading({ type: 'h1', text: 'H1', color: 'dark-shade-25', weight: 'normal', })
            .colors-and-type__text 
              +heading({ type: 'h1', text: 'This one is the sub-section or widget title' })
          .colors-and-type__item
            .colors-and-type__h 
              +heading({ type: 'h2', text: 'H2', color: 'dark-shade-25', weight: 'normal', })
            .colors-and-type__text 
              +heading({ type: 'h2', text: 'Next one is the item title inside widgets' })
          .colors-and-type__item
            .colors-and-type__h 
              +heading({ type: 'h3', text: 'H3', color: 'dark-shade-25', weight: 'normal', })
            .colors-and-type__text 
              +heading({ type: 'h3', text: 'This is a label or CTA text' })
          .colors-and-type__item
            p.colors-and-type__h.colors-and-type__h-body Body
            p.colors-and-type__text.colors-and-type__text-body This is the body text which is used for most of the design, like paragraphs, lists, etc.



