mixin material-icons(text, styles, additionalClass)
  i.material-icons(style=styles class=additionalClass)=text


//- *********EXAPMLE**************
//- 
//- +icon('keyboard_arrow_down', {
      'color': 'rgba(31, 32, 65, 0.75)'
    })
//- 
//- *****************************