mixin material-icons({ type = 'Enter symbol text', color = undefined, size = undefined } = {})
  - let colorModifier = ''
  - let sizeModifier = ''

  case color
    when 'dark-shade-75'
      - colorModifier = 'material-icons_color_dark-gray'
    when 'dark-shade-50'
      - colorModifier = 'material-icons_color_gray'
    when 'dark-shade-25'
      - colorModifier = 'material-icons_color_light-gray'
    when 'white'
      - colorModifier = 'material-icons_color_white'
    when 'purple-gradient'
      - colorModifier = 'material-icons_color_purple-gradient'

  case size
    when 'large'
      - sizeModifier = 'material-icons_size_large'
    when 'small'
      - sizeModifier = 'material-icons_size_small'

  i.material-icons(class=`${sizeModifier} ${colorModifier}`)=type


//- *********EXAPMLE**************
//- 
//- +material-icons({
      type: 'keyboard_arrow_down', 
      color: 'dark-shade-50',
    })
//- 
//- *****************************