/* The slider */
.toggle-button__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid $dark-shade-25;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;

  &:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 3px;
    top: 3px;
    margin-top: 0;
    background: $dark-shade-25;
    border-radius: 10px;
  }
}

