include ../checkbox-button/checkbox-button.pug

mixin expandable-checkbox(title, values)
  section.expandable-checkbox
    .expandable-checkbox__keyboard-arrow
      +material-icons('keyboard_arrow_down', {
        'color': 'rgba(31, 32, 65, 0.5)'
      })
    .expandable-checkbox__select=title
    .expandable-checkbox__option.expandable-checkbox__option_unvisible
      each val in values
        .expandable-checkbox__button
          +checkbox-button(val[0], val[1])
      else
        .p There is no value

        

//- ***************
//- *** EXAMPLE ***
//- 
//- +expandable-checkbox(
//-   'expandable checkbox list',
//-   [
//-     ['checkbox3', 'Завтрак'],
//-     ['checkbox4', 'Письменный стол'],
//-     ['checkbox5', 'Стул для кормления'],
//-     ['checkbox6', 'Кроватка'],
//-     ['checkbox7', 'Телевизор'],
//-     ['checkbox8', 'Шампунь'],
//-     ['checkbox9', 'Телевизор'],
//-     ['checkbox10', 'Шампунь']
//-   ]
//- )
//- 
//- ***************