.expandable-checkbox{
    max-width: 266px;
}

.expandable-checkbox-select{
    border: none;
    width: 266px;
}

.expandable-checkbox-option{
    border: none;
    padding: 0;
    box-shadow: none;
    height: auto;
    max-width: 266px;
}

.expandable-checkbox-button{
    margin-bottom: 10px;
    max-width: 266px;
}