.expandable-checkbox.dropdown
    .keyboard-arrow
        i.material-icons.keyboard-arrow__down.expandable-checkbox__arrow keyboard_arrow_down
    .dropdown-select.input__label.expandable-checkbox-select expandable checkbox list
    .dropdown-option.expandable-checkbox-option
        .option.expandable-checkbox-button
            +checkbox('checkbox3', 'Завтрак')
        .option.expandable-checkbox-button
            +checkbox('checkbox4', 'Письменный стол')
        .option.expandable-checkbox-button
            +checkbox('checkbox5', 'Стул для кормления')
        .option.expandable-checkbox-button
            +checkbox('checkbox6', 'Кроватка')
        .option.expandable-checkbox-button
            +checkbox('checkbox7', 'Телевизор')
        .option.expandable-checkbox-button
            +checkbox('checkbox8', 'Шампунь')
        .option.expandable-checkbox-button
            +checkbox('checkbox9', 'Шампунь')