@import './__button-long/form-book-a-room__button-long';
@import './__dropdown-container/form-book-a-room__dropdown-container';
@import './__dropdown-date/form-book-a-room__dropdown-date';
@import './__dropdown/form-book-a-room__dropdown';
@import './__in-time/form-book-a-room__in-time';
@import './__info-table/form-book-a-room__info-table';
@import './__no/form-book-a-room__no';
@import './__number/form-book-a-room__number';
@import './__price/form-book-a-room__price';
@import './__row/form-book-a-room__row';
@import './__title/form-book-a-room__title';
@import './__type/form-book-a-room__type';
@import './__row/_price-margin/form-book-a-room__row_price-margin';


.form-book-a-room{
  display: flex;
  flex-direction: column;

  width: 380px;
  height: 511px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  // border-box dont consider border
  padding: (40px - 1px) (30px - 1px) (30px - 1px) (30px - 1px);
}