form.form-book-a-room
    .form-book-a-room-title.row
        p.form-book-a-room__row
            span.form-book-a-room-title__n № 
            span.form-book-a-room-title__number 888
            span.form-book-a-room-title__type  люкс
        p.form-book-a-room__row
            span.form-book-a-room-title__price 9 990
            span.form-book-a-room-title__price ₽
            span.form-book-a-room-title__in-time  в сутки
   
    .dropdown-date_wrapper.margin-t-20
        include ../form-find-hotel-room/dropdown-date_for_form-find-hotel.pug
        include ../dropdown-calendar/dropdown-calendar.pug

    .margin-t-10
        h3(class="") гости
        include ../dropdown/dropdown.pug

    .form-book-a-room-info
        .row.margin-t-20
            p.form-book-a-room__row.form-book-a-room__row_additional_price
                span 9 990
                span ₽ x 
                span 4
                span  суток
            p.form-book-a-room__row.form-book-a-room__row_additional_price
                span 39 960
                span ₽
        .row.margin-t-10
            p.form-book-a-room__row.form-book-a-room__row_additional Сбор за услуги: 
                span скидка 
                    span 2 179
                    span ₽
                span.form-book-a-room-info__icon i
            p.form-book-a-room__row.form-book-a-room__row_additional_price
                span 0
                span ₽
        .row.margin-t-10
            p.form-book-a-room__row.form-book-a-room__row_additional Сбор за дополнителные услуги
                span.form-book-a-room-info__icon i
            p.form-book-a-room__row.form-book-a-room__row_additional_price
                span 300
                span ₽
        .row.margin-t-25
            h2.form-book-a-room__result Итого
            .form-book-a-room__row.form-book-a-room__row_underline
            h2.form-book-a-room__result
                    span 38 081
                    span ₽

    .margin-t-20
        button(type="submit" class="button button_long") Подобрать номер
            span.material-icons.button_long__arrow arrow_forward