.button__key{
  display: block;
  border-radius: 22px;
  border: none;
  padding: 0;
  box-sizing: content-box;

  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: rem(12px);
  line-height: 15px;
  text-transform: uppercase;

  background: #fff;
  color: $purple;
  width: calc(100% - 4px);
  height: calc(100% - 4px);

  cursor: pointer;

  &:focus{
    outline: none;
  }
}