.button__key {
  display: block;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  background: #fff;
  padding: 0;
  border-radius: 22px;
  border: none;
  box-sizing: content-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: rem(12px);
  line-height: 15px;
  text-transform: uppercase;
  color: $purple;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}