.rich-checkbox__label{
  display: inline-block;
  height: 20px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: rem(14px);
  font-weight: bold;
  line-height: 20px;
  color: $dark-shade-75;
  width: 100%;
  cursor: pointer;

  &::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border: 1px solid $dark-shade-25;
    box-sizing: border-box;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 9px;
  }
}
