include ../social-icons/social-icons

mixin copying-bar({ text = 'Copying text' } = {})
  section.copying-bar
    .copying-bar__inner
      .copying-bar__description=text
      .copying-bar__social-icons
        +social-icons()