.room-preview__no{
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  // font-size: 14px;
  font-size: .88rem;
  line-height: 17px;
  color: $dark-shade-100;
}