.room-preview__no {
  font-family: 'Quicksand','Open Sans', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: $dark-shade-100;
}