include ../social-icons/social-icons

mixin copyright-bar({ text = 'copyright text', } = {})
  section.copyright-bar
    .copyright-bar__inner
      .copyright-bar__description=text
      .copyright-bar__social-icons
        +social-icons()