extends index

mixin option(title)
    .option.input__label=title
        .option__inner
            .option__item.option__item_circle.option__item_circle_minus -
            .option__item.option__item_number 0
            .option__item.option__item_circle.option__item_circle_plus +
        
        

block variables
    - var pageTitle = 'ui kit'

block content
    .container
        .input
            p(class="input__label") default email
            input(type="email", name="input-email", class="input__field", value="Email") 
        


        .dropdown.dropdown_guests
            p.dropdown__label.input__label Select a title
            .keyboard-arrow
                i.material-icons.keyboard-arrow__down keyboard_arrow_down
            .dropdown-select.input__field Pick the one
            .dropdown-option
                +option('first')
                +option('Second')
                +option('Third')
                .option-button
                    .option-button__clear Очистить
                    .option-button__apply Применить
        
        
        .checkbox-button
            input(type="checkbox" name="checkbox" id="checkbox" class="checkbox-button__input")
            label(for="checkbox" class="checkbox-button__label") New York
        .checkbox-button
            input(type="checkbox" name="checkbox2" id="checkbox2" class="checkbox-button__input")
            label(for="checkbox2" class="checkbox-button__label") Можно пригласить гостей <br> (до 10 человек)

        .radio-button
            input(type="radio" id="contactChoice1" name="contact" value="" class="radio-button__input")
            label(for="contactChoice1" class="radio-button__label") Мужчина
            input(type="radio" id="contactChoice2" name="contact" value="" class="radio-button__input")
            label(for="contactChoice2" class="radio-button__label") Женщина

        .toggle-btn.active
            input(type="checkbox" id="togglewoggle" checked class="toggle-btn__cb")
            label(for="togglewoggle" class="toggle-btn__label") Получать&nbspспецпредложения
            span.toggle-btn__round
        
        
        .like-btn
            span.label-button__label.input__label like button
            span.material-icons.like-btn__heart favorite_border
            span.like-btn__label 12
            

        .rate-button
            span.rate-button__label.input__label rate button <br>
            span.material-icons.rate-button__star star star star star star_border


        .range-slider
            .range-slider__inner1
                label(class="range-slider__label input__label") Range slider
                input(type="text" id="amount" readonly class="range-slider__price")
            .range-slider__inner2
                div.range-slider__slider#slider-range



        button(href="#" class="button button_simple") click me
        button(href="#" class="button button_faint") click me
        button(href="#" class="button button_no-frame") click me
        button(href="#" class="button button_long") click me