extends index

mixin option(title)
    .option.input__label
        p.option__title=title
        .option__inner
            .option__item.option__item_circle.option__item_circle_minus.option__item_circle_unactive -
            .option__item.option__item_number 0
            .option__item.option__item_circle.option__item_circle_plus +
        
mixin checkbox(name_id, text)
    .checkbox-button
            input(type="checkbox" name=name_id id=name_id class="checkbox-button__input")
            label(for=name_id class="checkbox-button__label")=text




block variables
    - var pageTitle = 'ui kit'

block content
    .container
        .input
            p(class="input__label") default email
            input(type="email", name="input-email", class="input__field", value="Email") 
        


        .dropdown.dropdown_guests
            p.dropdown__label.input__label Dropdown
            .keyboard-arrow
                i.material-icons.keyboard-arrow__down keyboard_arrow_down
            .dropdown-select.dropdown-select_guests.input__field
                span.guests-num Сколько 
                span.guests-text гостей
                span.baby-num
                span.baby-text
            .dropdown-option.dropdown-option_guests
                +option('взрослые')
                +option('дети')
                +option('младенцы')
                .option-button
                    .option-button__clear Очистить
                    .option-button__apply Применить
        
        
        .checkbox-buttons
            +checkbox('checkbox0', 'Можно курить')
            +checkbox('checkbox1', 'Можно с питомцами')
            +checkbox('checkbox2', 'Можно пригласить гостей (до 10 человек)')

        
        .radio-button
            input(type="radio" id="contactChoice1" name="contact" value="" class="radio-button__input")
            label(for="contactChoice1" class="radio-button__label") Мужчина
            input(type="radio" id="contactChoice2" name="contact" value="" class="radio-button__input")
            label(for="contactChoice2" class="radio-button__label") Женщина

        .toggle-btn.active
            input(type="checkbox" id="togglewoggle" checked class="toggle-btn__cb")
            label(for="togglewoggle" class="toggle-btn__label") Получать&nbspспецпредложения
            span.toggle-btn__round
        
        
        .like-btn
            span.label-button__label.input__label like button
            span.material-icons.like-btn__heart favorite_border
            span.like-btn__label 12
            

        .rate-button
            span.rate-button__label.input__label rate button <br>
            span.material-icons.rate-button__star star star star star star_border


        .range-slider
            .range-slider__inner1
                label(class="range-slider__label input__label") Range slider
                input(type="text" id="amount" readonly class="range-slider__price")
            .range-slider__inner2
                div.range-slider__slider#slider-range



        button(href="#" class="button button_simple") click me
        button(href="#" class="button button_faint") click me
        button(href="#" class="button button_no-frame") click me
        button(href="#" class="button button_long") click me
            span.material-icons.button_long__arrow arrow_forward

        .pagination-wrapper
            p.pagination-wrapper__label.input__label pagination
            ul.pagination
                li.pagination__item.active
                    a.pagination__link(href='#') 1
                li.pagination__item
                    a.pagination__link(href='#') 2
                li.pagination__item
                    a.pagination__link(href='#') 3
                li.pagination__item
                    a.pagination__link(href='#') ...
                li.pagination__item
                    a.pagination__link(href='#') 15
                li.pagination__item.pagination__item--next
                    a.pagination__link(href='#')
                        span.material-icons.pagination__arrow arrow_forward
                p.pagination__descr 1 – 12 из 100+ вариантов аренды


        .expandable-checkbox.dropdown
            .keyboard-arrow
                i.material-icons.keyboard-arrow__down.expandable-checkbox__arrow keyboard_arrow_down
            .dropdown-select.input__label.expandable-checkbox-select expandable checkbox list
            .dropdown-option.expandable-checkbox-option
                .option.expandable-checkbox-button
                    +checkbox('checkbox3', 'Завтрак')
                .option.expandable-checkbox-button
                    +checkbox('checkbox4', 'Письменный стол')
                .option.expandable-checkbox-button
                    +checkbox('checkbox5', 'Стул для кормления')
                .option.expandable-checkbox-button
                    +checkbox('checkbox6', 'Кроватка')
                .option.expandable-checkbox-button
                    +checkbox('checkbox7', 'Телевизор')
                .option.expandable-checkbox-button
                    +checkbox('checkbox8', 'Шампунь')
                .option.expandable-checkbox-button
                    +checkbox('checkbox9', 'Шампунь')


        .icon-text
            .icon-text-row
                i.material-icons.icon-text__image insert_emoticon
                .icon-text__inner            
                    p.icon-text__title  Комфорт 
                    p.icon-text__descr  Шумопоглощающие стены
            .icon-text__underline

        .icon-text
            .icon-text-row
                i.material-icons.icon-text__image location_city
                .icon-text__inner            
                    p.icon-text__title  Удобство 
                    p.icon-text__descr  Окно в каждой из спален
            .icon-text__underline


        .rich-checkbox
            p.rich-checkbox__title.input__label rich checkbox buttons
                .checkbox-button.rich-checkbox
                    input(type="checkbox" name='checkbox10' id='checkbox10' class="checkbox-button__input")
                    label(for='checkbox10' class="checkbox-button__label rich-checkbox__label") Широкий коридор
                        p.rich-checkbox__descr Ширина коридоров в номере не менее 91 см.

                .checkbox-button.rich-checkbox
                    input(type="checkbox" name='checkbox11' id='checkbox11' class="checkbox-button__input")
                    label(for='checkbox11' class="checkbox-button__label rich-checkbox__label") Помощник для инвалидов
                        p.rich-checkbox__descr На 1 этаже вас встретит специалист и проводит до номера.



        .bullet-list
            p.bullet-list__title.input__label bullet list
            ul.bullet-list__list
                li.bullet-list__item Нельзя с питомцами
                li.bullet-list__item Без вечеринок и мероприятий
                li.bullet-list__item Время прибытия — после 13:00, а выезд до 12:00


        .comment
            .comment__inner1
                img(class="comment__avatar" src="../img/avatar1.svg")
                .like-btn.comment__like
                    span.material-icons.like-btn__heart favorite_border
                    span.like-btn__label 12
            .comment__inner2
                .comment__name Мурад Сарафанов 
                .comment__date 5 дней назад
                .comment__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.


        .dropdown.dropdown_furniture
            p.dropdown__label.input__label Dropdown
            .keyboard-arrow
                i.material-icons.keyboard-arrow__down keyboard_arrow_down
            .dropdown-select.dropdown-select_furniture.input__field 
                p.dropdown-select__title_furniture
                    span.bedroom-num  0 
                    span.bedroom-text спален, 
                    span.bed-num  0 
                    span.bed-text кроватей, 
                    span.bathroom-num  0 
                    span.bathroom-text ванных комнат
            .dropdown-option.dropdown-option_furniture
                +option('спальни')
                +option('кровати')
                +option('ванные комнаты')
                