extends index


        
include ../blocks/mixins/mixins.pug
            



block variables
    - var pageTitle = 'ui kit'

block content
    .container

        include ../blocks/input/input.pug
        
        include ../blocks/subscription-text-field/subscription-text-field.pug

        include ../blocks/masked-text-field/masked-text-field.pug
        
        include ../blocks/dropdown/dropdown.pug

        include ../blocks/checkbox-button/checkbox-button.pug

        include ../blocks/radio-button/radio-button.pug
        
        include ../blocks/toggle-button/toggle-button.pug
        
        include ../blocks/like-button/like-button.pug
        
        include ../blocks/rate-button/rate-button.pug

        include ../blocks/range-slider/range-slider.pug
        
        include ../blocks/button/buttons.pug
                  
        include ../blocks/pagination/pagination.pug
        
        include ../blocks/expandable-checkbox/expandable-checkbox.pug

        include ../blocks/icon-text/icon-text.pug
        
        include ../blocks/rich-checkbox/rich-checkbox.pug

        include ../blocks/bullet-list/bullet-list.pug

        include ../blocks/comment/comment.pug

        include ../blocks/dropdown-furniture/dropdown-furniture.pug

        include ../blocks/dropdown-calendar/dropdown-calendar.pug
        
        include ../blocks/dropdown-filter-date/dropdown-filter-date.pug
            
            
            





        


