block variables

doctype html
html(lang='en')
  head
    title= pageTitle
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
    block content
      .container  
        a(href='cards.html' class='input__label') cards
        br
        a(href='colors-and-type.html' class='input__label') colors & type
        br
        a(href='form-elements.html' class='input__label') form elements
        br
        a(href='headers-and-footers.html' class='input__label') headers and footers
        br
        a(href='landing-page.html' class='input__label') landing page
        br
        a(href='registration.html' class='input__label') registration
        br
        a(href='room-details.html' class='input__label') room details
        br
        a(href='search-room.html' class='input__label') search room
        br
        a(href='sign-in.html' class='input__label') sign in

