block variables

doctype html
html(lang="en")
  head
    title= pageTitle
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    block content
      //- include:markdown-it ../README.md
      //- .container  
      //-   a(href="cards.html" class="input__label") cards
      //-   a(href="colors-and-type.html" class="input__label") Colors & type
      //-   a(href="form-elements.html" class="input__label") form elements
      //-   a(href="headers-and-footers.html" class="input__label") headers and footers
      //-   a(href="landing-page.html" class="input__label") landing page
      //-   a(href="registration.html" class="input__label") registration
      //-   a(href="room-details.html" class="input__label") room details
      //-   a(href="search-room.html" class="input__label") search room
      //-   a(href="sign-in.html" class="input__label") sign in

