block variables

doctype html
html(lang='en')
  head
    title= pageTitle
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
    block content
      .container  
        a(href='cards.html') cards
        br
        a(href='colors-and-type.html') colors & type
        br
        a(href='form-elements.html') form elements
        br
        a(href='headers-and-footers.html') headers and footers
        br
        a(href='landing-page.html') landing page
        br
        a(href='registration.html') registration
        br
        a(href='room-details.html') room details
        br
        a(href='search-room.html') search room
        br
        a(href='sign-in.html') sign in

