extends blocks/template

include ../blocks/mixins/mixins.pug

block variables
    - var pageTitle = 'Landing page'

block content

    div(class="land-page-back" style="background-image: url('/../img/land-page-back.svg')")
        .landing-page-find-room
            //- include ../blocks/form-find-hotel-room/form-find-hotel-room.pug
        p.landing-page-citate Лучшие номера для вашей работы, отдыха и просто вдохновения
