extends blocks/template

include ../blocks/mixins/mixins.pug

block variables
    - var pageTitle = 'Registration'

block content

    div(class="land-page-back registration-back" style="background-image: url('/../img/sign-background.png')")
        .sign-in-container
            include ../blocks/form-registration/form-registration.pug
