extends blocks/template

include ../blocks/mixins/mixins.pug

block variables
    - var pageTitle = 'Room details'

    
block content
    .room-details
        .room-details-photos
            .room-details-photos__column
                img.room-details__main-photo(src="../img/room-det-1.png" alt="room photo")
            .room-details-photos__column
                img.room-details__second-photo(src="../img/room-det-2.png" alt="room photo")
                img.room-details__third-photo(src="../img/room-det-3.png" alt="room photo")

        .room-details-content
            .room-details-content-container
                .room-details-content-info
                    h2 Сведения о номере
                    .icon-text
                        .icon-text-row
                            i.material-icons.icon-text__image insert_emoticon
                            .icon-text__inner            
                                p.icon-text__title  Комфорт 
                                p.icon-text__descr  Шумопоглощающие стены
                        .icon-text__underline
                    .icon-text
                        .icon-text-row.margin-t-20
                            i.material-icons.icon-text__image location_city
                            .icon-text__inner            
                                p.icon-text__title  Удобство 
                                p.icon-text__descr  Окно в каждой из спален
                        .icon-text__underline
                    .icon-text
                        .icon-text-row.margin-t-20
                            i.material-icons.icon-text__image whatshot
                            .icon-text__inner            
                                p.icon-text__title  Уют 
                                p.icon-text__descr  Номер оснащён камином
                        .icon-text__underline

                .room-details-content-diagramm
                    h2 Впечатления от номера
                    #chart
                    .bullet-list.room-details-bullet-list
                        ul.bullet-list__list
                            li.bullet-list__item.bullet-list__item_great Великолепно
                            li.bullet-list__item.bullet-list__item_good Хорошо
                            li.bullet-list__item.bullet-list__item_ok Удовлетворительно
                            li.bullet-list__item.bullet-list__item_bad Разочарован

                .room-details-content-get_it
                    include ../blocks/form-book-a-room/form-book-a-room.pug

                .room-details-content-review
                    h2 Отзывы посетителей номера
                    span.room-details-content-review__amount 2 отзыва
                    .comment
                        .comment__inner1
                            img(class="comment__avatar" src="../img/avatar1.svg")
                            .like-btn.comment__like.active
                                span.material-icons.like-btn__heart.active favorite
                                span.like-btn__label.active 12
                        .comment__inner2
                            .comment__name Мурад Сарафанов 
                            .comment__date 5 дней назад
                            .comment__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
                    .comment-wrapper      
                        .comment
                            .comment__inner1
                                img(class="comment__avatar" src="../img/avatar2.png")
                                .like-btn.comment__like
                                    span.material-icons.like-btn__heart favorite_border
                                    span.like-btn__label 2
                            .comment__inner2
                                .comment__name Патисия Стёклышкова
                                .comment__date Неделю назад
                                .comment__text Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент

                .room-details-content-rules
                    h2 Правила
                    .bullet-list
                        ul.bullet-list__list
                            li.bullet-list__item Нельзя с питомцами
                            li.bullet-list__item Без вечеринок и мероприятий
                            li.bullet-list__item Время прибытия — после 13:00, а выезд до 12:00

                .room-details-content-cancel
                    h2 Отмена
                    p.room-details-content-cancel__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги

           
    
    

    

    




    .search-room-underline