.dropdown.dropdown_guests
            p.dropdown__label.input__label Dropdown
            .keyboard-arrow
                i.material-icons.keyboard-arrow__down keyboard_arrow_down
            .dropdown-select.dropdown-select_guests.input__field
                span.guests-num Сколько 
                span.guests-text гостей
                span.baby-num
                span.baby-text
            .dropdown-option.dropdown-option_guests
                +option('взрослые')
                +option('дети')
                +option('младенцы')
                .option-button
                    .option-button__clear Очистить
                    .option-button__apply Применить