mixin social-icons()
  .social-icons
    a(class='social-icons__link' href='/mock-address/change-me')
      img(class='social-icons__img' src='./img/twitter-icon.svg', alt='twitter-icon')
    a(class='social-icons__link' href='/mock-address/change-me')
      img(class='social-icons__img' src='./img/facebook-icon.svg', alt='facebook-icon')
    a(class='social-icons__link' href='/mock-address/change-me')
      img(class='social-icons__img' src='./img/instagramm-icon.svg', alt='instagramm-icon')