.landing-page {
  min-height: 830px;
  height: min-content;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  position: relative;
  
  &__filter {
    position: relative;
    max-width: 380px;
    left: 140px;
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 760px) {
      left: auto;
      margin: 0 auto;
    }
  }
  
  &__quote {
    max-width: 297px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: rem(14px);
    line-height: 24px;
    text-align: right;
    color: $dark-shade;
    bottom: 8px;
    right: 134px;
    position: absolute;
    
    @media (max-width: 760px) {
      left: auto;        
      right: auto;
    }
  }
}

