include ../logotype/logotype.pug
include ../social-icons/social-icons

mixin footer-creative()
  .footer-creative
    +logotype()
    p.footer-creative__description Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    +social-icons()



