.pagination__link{
	position: relative;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: $dark-shade-50;
	text-decoration: none;
	user-select: none;
	&:hover{
		text-decoration: none;
		background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
		border-radius: 22px;
		color: #fff;
	}
}