body, html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.registration__back{
  max-height: 700px;
  height: 830px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  position: relative;
}


.registration__form-registration{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 3px;

  @media (max-width: 380px) {
    transform: scale(.84);
  }
  
}