.room-details-photos{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.room-details{
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        margin-top: 0;
        margin-bottom: 21px;
    }
    .comment{
        margin-bottom: 25px;
    }
    @media (max-width: 415px){
        .form-book-a-room{
            transform: scale(.85);
        }
        .room-details-content-review__amount{
            top: 35px;
        }
    }
}
.room-details-content{
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: 1160px;
}

.room-details-photos__column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.room-details-content-cancel__text{
    max-width: 341px;
    max-height: 96px;
    margin-top: -2px;
}

.room-details-content-review__amount{
    position: absolute;
    top: 15px;
    right: 60px;
    color: $dark-shade-50;
}
.room-details-content-review{
    position: relative;
    h2{
        margin-top: 12px;
    }
}
.bullet-list__list{
    margin-top: -3px;
}



.room-details-content-container {
    display: grid;
    grid-template-columns: 0.92fr 1.08fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "info diagramm get_it" "review review get_it" "rules cancel get_it";
    grid-column-gap: 10px;

    @media (max-width: 876px) {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "info diagramm" "review review" "rules cancel" "get_it get_it";
    }
    @media (max-width: 545px) {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: "info" "diagramm" "review" "rules" "cancel" "get_it";
    }
    @media (max-width: 380px) {
        grid-template-columns: 320px;
    }
  }
  
  .room-details-content-info { 
      grid-area: info; 
      @media (max-width: 545px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    }
  
  .room-details-content-diagramm { 
      grid-area: diagramm; 
      @media (max-width: 545px) {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
    }
  
.room-details-content-get_it { 
    margin-top: 30px;
    grid-area: get_it; 
    @media (max-width: 876px) {
        display: flex;
        justify-content: center;
    }
}
  
  .room-details-content-review { grid-area: review; }
  
.room-details-content-rules { 
    grid-area: rules; 
    padding-top: 10px;
    h2{
        margin-left: 20px;
    }
    @media (max-width: 545px) {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
  
  .room-details-content-cancel { 
      grid-area: cancel; 
      padding-top: 10px;
      @media (max-width: 545px) {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    }






#chart{
    display: inline-block;
    width: 121px;
    height: 121px;
}
svg.pie{
    margin: 0;
}

.bullet-list__item_great{
    &::before{
        background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
    }
}
.bullet-list__item_good{
    &::before{
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    }
}
.bullet-list__item_ok{
    &::before{
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
}
.bullet-list__item_bad{
    &::before{
        background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
    }
}   

.room-details-bullet-list{
    max-width: 266px;
    display: inline-block;
    margin-left: 30px;
    position: relative;
    top: -3px;

    li{
        margin-top: 0;
        padding-left: 15px;
    }
}

.room-details__main-photo{
    width: 100%;
}
.room-details__second-photo{
    width: 100%;
}
.room-details__third-photo{
    width: 100%;
}