.sign-in-back{
    max-height: 684px;
}
.sign-in-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media (max-width: 380px) {
        .form-sign-in{
            transform: scale(.84);
        }
    }
    
}
