body, html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sign-in{
  height: 700px - 17px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  position: relative;
}

.sign-in__container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @media (max-width: 380px) {
    .form-sign-in{
      transform: scale(.84);
    }
  }
    
}
