.copying-bar__description{
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: rem(14px);
  line-height: 24px;
  color: $dark-shade-75;
  text-align: left;
  @media (max-width: 768px) {
    text-align: center;
  }
  display: flex;
  align-items: center;
}