.room-preview__islucs {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: rem(12px);
  line-height: 15px;
  text-transform: uppercase;
  color: $purple;
}