include ../text-field/text-field.pug

mixin masked-text-field( { name = 'masked-text-field' , placeholder = 'ДД.ММ.ГГГГ' } = {} )
  +text-field({
    type: 'text',
    addClass: 'masked-text-field',
    name: name,
    placeholder: placeholder,
  })



//- ***************
//- *** EXAMPLE ***
//- 
//- +masked-text-field({placeholder: 'ДД.ММ.ГГГГ'})
//- 
//- ***************