section.dropdown {
  &_with-furniture{
    max-width: 266px;
  }
}
.dropdown {
  &_with-furniture & {
    &__options{
      width: 266px;
      height: auto;
      padding-bottom: 8px;
    }
    &__select{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 266px;
      padding-right: 90px;
      margin: 0;
    }
  }
}