.toggle-button__label{
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: rem(14px);
  color: $dark-shade-75;
  min-width: 100px;
  left: 48px;
  position: absolute;
  white-space: nowrap;
}