.radio-button__input{
  display: none;
  &:checked {
    & + .radio-button__label::before{
      text-align: center;
      border: 1px solid $purple;
    }
    & + .radio-button__label::after{
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
    & + .radio-button__label{
      color: $dark-shade-75;
    }
  }
}