.range-slider
    .range-slider__inner1
        label(class="range-slider__label input__label") Range slider
        input(type="text" id="amount" readonly class="range-slider__price")
    .range-slider__inner2
        div.range-slider__slider#slider-range