mixin range-slider(headText)
  .range-slider
    .range-slider__header
      h3.range-slider__label=headText
      input(type="text" readonly class="range-slider__price js-range-slider__price")
    .range-slider__inner
      div.range-slider__slider.js-range-slider__slider


//- ***************
//- *** EXAMPLE ***
//- 
//- +range-slider('range slider')
//- 
//- ***************