include ../heading/heading.pug

mixin info-table()
  table.info-table
    tr.info-table__row
      td.info-table__service
        span 9 990
        span ₽ x 
        span 4
        span  суток
      td.info-table__price
        span 39 960
        span ₽
    tr.info-table__row
      td.info-table__service
        .info-table__discount
          span Сбор за услуги: 
          span скидка 
          span 2 179
          span ₽
          span.info-table__icon i
      td.info-table__price
        .info-table__discount
          span 0
          span ₽
    tr.info-table__row
      td.info-table__service
        .info-table__advanced
          span Сбор за дополнительные
          span.info-table__icon i
          br
          span услуги
      td.info-table__price
        .info-table__advanced
          span 300
          span ₽
    tr.info-table__row
      td.info-table__service.info-table__service_with-result
        +heading('h2', 'Итого') 
        .info-table__underline
      td.info-table__price.info-table__price_with-result
        +heading('h2', '38 081₽') 