@import './__underline/info-table__underline';
@import './__second-p/info-table__second-p';
@import './__second-p/_result/info-table__second-p_result';
@import './__row/info-table__row';
@import './__icon/info-table__icon';
@import './__first-p/info-table__first-p';
@import './__first-p/_result/info-table__first-p_result';


.info-table{
  border-collapse: collapse;
  width: 100%;
}

.info-table__discount{
  padding-top: 5px;
}

.info-table__advanced{
  padding-top: 5px;
}