.expandable-checkbox__option{
  display: block;
  height: auto;
  max-width: 266px;
  width: 266px;
  position: absolute;
  padding: 0;
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  z-index: 9;
}