mixin checkbox-button({ name = 'checkbox-button', text = 'check box', description = '' } = {})
  - let typeModifier = ''

  if description !== ''
    - typeModifier = 'checkbox-button_rich'

  section.checkbox-button(class=typeModifier)
    label(class='checkbox-button__label')
      input(type='checkbox' name=name class='checkbox-button__input')
      span.checkbox-button__header-text=text
      span.checkbox-button__description=description


//- ***************
//- *** EXAMPLE ***
//- 
//-   +checkbox-button({ name: 'checkbox0', text: 'Можно курить'})

//- 
//- ***************