mixin checkbox-button({ name = 'checkbox-button', text = 'check box', description = '' } = {})
  - let richModifier = ''

  if description !== ''
    - richModifier = 'checkbox-button_rich'

  section.checkbox-button(class = richModifier)
    label(class='checkbox-button__label')
      input(type='checkbox' name=name class='checkbox-button__input')
      p.checkbox-button__head-text=text
      p.checkbox-button__description=description


//- ***************
//- *** EXAMPLE ***
//- 
//-   +checkbox-button({ name: 'checkbox0', text: 'Можно курить'})

//- 
//- ***************