.registration {
  max-height: 700px;
  height: 830px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  position: relative;
  
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 3px;    
  }

  @media (max-width: 400px) {
    height: 60%;;
  }
}
