extends ../template


block variables
    - var pageTitle = 'Registration'

block content

    include ../../../blocks/form-registration/form-registration.pug

    article.registration(style="background-image: url('./img/sign-background.jpg')")
      section.registration__form-registration
        +form-registration()
