.registration {
  display: flex;
  align-items: center;
  min-height: 830px;
  height: min-content;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  position: relative;
  
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 3px;    
  }

  @media (max-width: 400px) {
    min-height: 750px;
  }
}
