.toggle-btn__label{
    font-family: "Montserrat";
    font-size: 14px;
    color: $dark-shade-75;
    min-width: 100px;
    left: 48px;
    top: -3px;
    position: absolute;
    white-space: nowrap;
}