.toggle-btn.active
    input(type="checkbox" id="togglewoggle" checked class="toggle-btn__cb")
    label(for="togglewoggle" class="toggle-btn__label") Получать&nbspспецпредложения
    span.toggle-btn__round