mixin toggle-button(id = 'toggle-button', text = 'toggle button')
  label.toggle-button
    input.toggle-button__input(type="checkbox" id=id)
    span.toggle-button__slider
    span.toggle-button__label=text


//- ***************
//- *** EXAMPLE ***
//- 
//- +toggle-button('togglewoggle', 'Получать спецпредложения')
//- 
//- ***************