mixin toggle-button(id = 'toggle-button', text = 'toggle button')
  section.toggle-button.toggle-button_active
    input(type='checkbox' id=id checked class='toggle-button__cb')
    label(for=id class='toggle-button__label')=text
    span.toggle-button__round


//- ***************
//- *** EXAMPLE ***
//- 
//- +toggle-button('togglewoggle', 'Получать спецпредложения')
//- 
//- ***************