mixin toggle-button({ name = 'toggle-button', text = 'toggle button', isChecked = false } = {})
  label.toggle-button
    input.toggle-button__input(type="checkbox" name=name checked= isChecked ? 'checked' : undefined)
    span.toggle-button__slider
    span.toggle-button__label=text


//- ***************
//- *** EXAMPLE ***
//- 
//- +toggle-button({name: 'toggle', text: 'Получать спецпредложения'})
//- 
//- ***************