.toggle-button {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  white-space: nowrap;

  &__text {
    display: inline-block;
    margin-left: 10px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    color: $dark-shade;
    white-space: pre-wrap;
    vertical-align: middle;
    cursor: pointer;
  }

  &__slider {
    display: inline-block;
    width: 40px;
    height: 20px;
    padding-right: 3px;
    padding-left: 3px;
    border: 1px solid $light-shade;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: middle;
    text-align: left;
  }

  &__circle {
    display: inline-block;
    width: 12Px;
    height: 12Px;
    background: $light-shade;
    border-radius: 50%;
    vertical-align: middle;
  }

  &__input {
    width: 0;
    margin: 0;
    display: none;
  
    &:checked ~ .toggle-button__slider {
      border: 1px solid $purple;
      text-align: right;
    }
    
    &:checked ~ .toggle-button__slider > .toggle-button__circle {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
  }
}
