.dropdown-option__item_number {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: $dark-shade-100;
}