.nav-bar__inner{
  margin: 0 auto;
  height: 100%;
  width: 1160px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1168px) {
    width: auto;
    max-width: 1160px;
  }
  
  @media (max-width: 804px) {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }
}