.dropdown-filter-date__keyboard-arrow{
  position: absolute;
  right: 0;
  top: 0;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-shade-50;
  z-index: 1;
}