.dropdown-date {
  position: relative;
  width: 320px;

  &__dropdown-calendar {
    position: absolute;
    margin-top: 5px;
  }

  &__input {
    max-width: 150px;
    position: relative;
    margin-top: 5px;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
  }

  &__keyboard-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: $dark-shade-50;
    pointer-events: none;
  }
}
