include ../dropdown-calendar/dropdown-calendar.pug
include ../text-field/text-field.pug
include ../heading/heading.pug

mixin dropdown-date( firstHeader = '', secondHeader = '' )
  section.dropdown-date.js-dropdown-date
    .dropdown-date__inputs
      .dropdown-date__item
        +heading('h3', firstHeader)
        .dropdown-date__input
          .dropdown-date__keyboard-arrow
            +material-icons('keyboard_arrow_down')
          .dropdown-date__input-start-date
            +text-field({
              type: 'text',
              placeholder: 'ДД.ММ.ГГГГ',
              readonly: 'readonly',
              theme: 'date-field'
            })
      .dropdown-date__item
        +heading('h3', secondHeader)
        .dropdown-date__input
          .dropdown-date__keyboard-arrow
            +material-icons('keyboard_arrow_down')
          .dropdown-date__input-end-date
            +text-field({
              type: 'text',
              placeholder: 'ДД.ММ.ГГГГ',
              readonly: 'readonly',
              theme: 'date-field'
            })
    .dropdown-date__dropdown-calendar
      +dropdown-calendar()



//- ******* EXAMPLE *********
//-  +dropdown-date('date dropdown', 'date dropdown')
//- 