include ../dropdown-calendar/dropdown-calendar.pug
include ../dropdown-date-item/dropdown-date-item.pug

mixin dropdown-date({ firstHeader = 'date Dropdown', secondHeader = 'date Dropdown' } = {})
  section.dropdown-date.js-dropdown-date
    .dropdown-date__inputs
      +dropdown-date-item({ header: firstHeader, type: 'start' })
      +dropdown-date-item({ header: secondHeader, type: 'end' })
    .dropdown-date__dropdown-calendar
      +dropdown-calendar()



//- ******* EXAMPLE *********
//-  +dropdown-date({ firstHeader: 'date dropdown', secondHeader: 'date dropdown' })
//- 