.dropdown.dropdown_date
    p.dropdown__label.input__label Dropdown
    .keyboard-arrow
        i.material-icons.keyboard-arrow__down.dropdown-date__arrow keyboard_arrow_down
    input(type="text" name='startDate' class="startDate masked-text-field__input input__field dropdown_date__input" placeholder="ДД.ММ.ГГГГ")

.dropdown.dropdown_date
    p.dropdown__label.input__label Dropdown
    .keyboard-arrow
        i.material-icons.keyboard-arrow__down.dropdown-date__arrow keyboard_arrow_down    
    input(type="text" name='endDate' class="endDate masked-text-field__input input__field dropdown_date__input" placeholder="ДД.ММ.ГГГГ")