mixin option-button( type = 'apply', text = 'Click me')
  if type=='apply'
    .option-button
      .option-button__apply=text
  if type=='clear'
    .option-button.option-button_hidden
      .option-button__clear=text




//- ****** EXAMPLE *****
//- 
//- +option-button('apply', 'Применить')
//- +option-button('clear', 'Очистить')
//- 
//- ********************