.filter-date {
  max-width: 320px;
  position: relative;
  cursor: pointer;

  &__inputs {
    display: flex;
    justify-content: space-between;
  }

  &__date-picker {
    position: absolute;
    margin-top: 5px;
    transform-origin: 0 0;
    transform: scale(0.83);
    z-index: 10;
  }

  &__input {
    max-width: 266px;
    color: $dark-shade;
  }

  &__keyboard-arrow {
    position: absolute;
    right: 0;
    top: 0;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $shade;
    z-index: 1;
    pointer-events: none;
  }
}
