include ../heading/heading.pug
include ../text-field/text-field.pug
include ../button/button.pug

mixin sign-in-form({ action='/mock-address/change-me', name='registration', method='post' } = {})
  form.sign-in-form(action=action name=name method=method)
    .sign-in-form__wrapper
      .sign-in-form__heading
        +heading({ type: 'h1', text: 'Войти' })

      .sign-in-form__email
        +text-field({
          type: 'email',
          name: 'input-email',
          placeholder: 'Email',
        })
      .sign-in-form__password
        +text-field({
          type: 'password',
          name: 'input-email',
          placeholder: 'Пароль',
        })

      .sign-in-form__button-long
        +button({
          styleType: 'long', 
          text: 'Войти',
          buttonType: 'submit',
        })
      .sign-in-form__login
        p.sign-in-form__login-text Нет аккаунта на Toxin?
        +button({
          styleType: 'faint', 
          href:'/mock-address/change-me', 
          text: 'Создать', 
        })