block variables

doctype html
html(lang="en")
  head
    title= pageTitle
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <script src="https://d3js.org/d3.v4.min.js"></script> 
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

  body
    include header.pug

    block content

    include footer.pug
