@import './__circle/room-preview__circle';
@import './__circle/_full/room-preview__circle_full';
@import './__descr/room-preview__descr';
@import './__icons/room-preview__icons';
@import './__image/room-preview__image';
@import './__in-time/room-preview__in-time';
@import './__inderline/room-preview__underline';
@import './__islucs/room-preview__islucs';
@import './__no/room-preview__no';
@import './__number/room-preview__number';
@import './__price/room-preview__price';
@import './__reviews-num/room-preview__reviews-num';
@import './__reviews-rev/room-preview__reviews-rev';
@import './__row/room-preview__row';

.room-preview{
  width: 270px;
  height: 257px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px $dark-shade-5;
  border-radius: 4px;
  position: relative;
}