.icon-text
    .icon-text-row
        i.material-icons.icon-text__image insert_emoticon
        .icon-text__inner            
            p.icon-text__title  Комфорт 
            p.icon-text__descr  Шумопоглощающие стены
    .icon-text__underline

.icon-text
    .icon-text-row
        i.material-icons.icon-text__image location_city
        .icon-text__inner            
            p.icon-text__title  Удобство 
            p.icon-text__descr  Окно в каждой из спален
    .icon-text__underline