@import './__descr/icon-text__descr';
@import './__image/icon-text__image';
@import './__row/icon-text__row';
@import './__title/icon-text__title';
@import './__underline/icon-text__underline';

.icon-text{
  max-width: 291px;
  display: flex;
  flex-direction: column;
  margin: 0;
}