include ../material-icons/material-icons.pug

mixin icon-text({ image = 'insert_emoticon', title = 'Комфорт', descr = 'Шумопоглощающие стены', hasUnderline = false } = {})
  section.icon-text
    .icon-text__row
      .icon-text__image
        +material-icons({
          type: image, 
          color: 'purple-gradient',
          size: 'large'
        })
      .icon-text__text-container            
        p.icon-text__title=title
        p.icon-text__descr=descr
    if hasUnderline 
      .icon-text__underline






//- ***************
//- *** EXAMPLE ***
//- 
//- +icon-text({
      image: 'insert_emoticon', 
      title: 'Комфорт', 
      descr: 'Шумопоглощающие стены', 
      hasUnderline: true
    })
//- 
//- 
//- ***************