.info-table__icon{
  width: 20px;
  height: 20px;
  border: 1px solid $dark-shade-25;
  border-radius: 50%;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  // font-size: 12px;
  font-size: .76rem;
  line-height: 14px;
  color: $dark-shade-25;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 9px;
}