include ../material-icons/material-icons.pug

mixin like-button({ number = 0 } = {})
  if number < 0
    - number = 0
  .like-button
    .like-button__heart
      +material-icons({
        type: 'favorite_border', 
        color: 'dark-shade-25',
        size: 'small'
      })
    span.like-button__label=number


//- ***************
//- *** EXAMPLE ***
//- 
//- +like-button({ number: 12 })
//- 
//- ***************