.like-button {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid $dark-shade-25;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 10px;   
  cursor: pointer;
  user-select: none;
}




