.like-btn__input{
    display: none;
}

.like-btn{
    top: 50px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid $dark-shade-25;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 10px;

    &.active{
        border: 1px solid $purple;
    }
}

.like-btn__label{
    position: absolute;
    color: $dark-shade-25;
    left: 19px;
    top: -2px;
    pointer-events: none;
    &.active{
        color: $purple;
    }
}

.like-btn__heart{
    font-size: 10px;
    display: inline-block;
    position: absolute;
    color: $dark-shade-25;
    left: 4px;
    top: 4px;
    &.active{
        color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
}