include ../material-icons/material-icons.pug

mixin like-button( number = 0 )
  if number < 0
    - number = 0
  .like-button
    .like-button__heart
      +material-icons('favorite_border', {
        'font-size': '10px'
      }, 'material-icons_color_gray')
    span.like-button__label=number


//- ***************
//- *** EXAMPLE ***
//- 
//- +like-button(12)
//- 
//- ***************