.room-preview__in-time{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  // font-size: 12px;
  font-size: .76rem;
  line-height: 18px;
  color: $dark-shade-50;
}