.rich-checkbox
        .checkbox-button.rich-checkbox
            input(type="checkbox" name='checkbox10' id='checkbox10' class="checkbox-button__input")
            label(for='checkbox10' class="checkbox-button__label rich-checkbox__label") Широкий коридор
                p.rich-checkbox__descr Ширина коридоров в номере не менее 91 см.

        .checkbox-button.rich-checkbox
            input(type="checkbox" name='checkbox11' id='checkbox11' class="checkbox-button__input")
            label(for='checkbox11' class="checkbox-button__label rich-checkbox__label") Помощник для инвалидов
                p.rich-checkbox__descr На 1 этаже вас встретит специалист и проводит до номера.