.rich-checkbox {
  max-width: 266px;

  &__descr {
    margin-top: 5px;
    margin-left: 20px + 9px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    color: $dark-shade-50;
  }

  &__head-text {
    vertical-align: middle;
  }

  &__input {
    display: none;
  
    &:checked + .rich-checkbox__label::before {
      content: url('./img/check-box.svg');
      text-align: center;
      border: 1px solid $purple;
      line-height: 18px;
    }
  }

  &__label {
    display: inline-block;
    height: 20px;
    width: 100%;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: $dark-shade-75;
    cursor: pointer;
  
    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 9px;
      background-color: #FFFFFF;
      border: 1px solid $dark-shade-25;
      box-sizing: border-box;
      border-radius: 4px;
      vertical-align: middle;
    }
  }
}