.subscription-text-field__arrow{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  // font-size: 24px;
  font-size: 1.5rem;
  line-height: 24px;
  right: 0;
  bottom: 0;
  cursor: pointer;
  
}