.dropdown.dropdown_furniture
    .keyboard-arrow
        i.material-icons.keyboard-arrow__down keyboard_arrow_down
    .dropdown-select.dropdown-select_furniture.input__field 
        p.dropdown-select__title_furniture
            span.bedroom-num  0 
            span.bedroom-text спален, 
            span.bed-num  0 
            span.bed-text кроватей, 
            span.bathroom-num  0 
            span.bathroom-text ванных комнат
    .dropdown-option.dropdown-option_furniture
        +option('спальни')
        +option('кровати')
        +option('ванные комнаты')