.dropdown_furniture{
    max-width: 266px;
}
.dropdown-select_furniture{
    max-width: 266px;
}

.dropdown-select__title_furniture{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
    height: 44px;
    margin: 0;
}

.dropdown-option_furniture{
    max-width: 266px;
    height: auto;
    padding-bottom: 8px;
}