include ../radio-button/radio-button.pug
include ../heading/heading.pug
include ../text-field/text-field.pug
include ../masked-text-field/masked-text-field.pug
include ../toggle-button/toggle-button.pug
include ../button/button.pug
include ../button-long/button-long.pug

mixin form-registration()
  form.form-registration(action='/mock-address/change-me' name="form-registration" method="post")
    .form-registration__heading
      +heading('h1', 'Регистрация аккаунта')

    .form-registration__text-field-first-name
      +text-field({
        type: "text",
        name: "input-email",
        placeholder: "Имя",
        style: 'width: 100%'
      })
    .form-registration__text-field-second-name
      +text-field({
        type: "text",
        name: "input-email",
        placeholder: "Фамилия",
        style: 'width: 100%'
      })

    .form-registration__radio-button
      +radio-button({id:'form-registration1', name:'form-registration', value:'man', text:'Мужчина', checked:'true'})
      +radio-button({id:'form-registration2', name:'form-registration', value:'woman', text:'Женщина'})

    .form-registration__heading-birthday
      +heading('h3', 'Дата рождения')
    
    .form-registration__masked-text-field-birthday
      +masked-text-field({placeholder: "ДД.ММ.ГГГГ"})

    .form-registration__heading-login-data
      +heading('h3', 'Данные для входа в сервис')

    .form-registration__text-field-email
      +text-field({
        type: "email",
        name: "input-email",
        placeholder: "Email",
        style: 'width: 100%'
      })
    .form-registration__text-field-password
      +text-field({
        type: "password",
        name: "input-email",
        placeholder: "Пароль",
        style: 'width: 100%'
      })

    .form-registration__toggle-button
      +toggle-button('togglewoggle', 'Получать спецпредложения')

    .form-registration__button-long
      +button-long({
          href: '/mock-address/change-me', 
          text: 'Перейти к оплате',
          type: 'submit',
        })    

    .form-registration__login
      p.form-registration__login-text Уже есть аккаунт на Toxin
      +button({
        'type': 'faint', 
        'href':'/mock-address/change-me', 
        'text': 'Войти', 
        'style': {
          'width': '99px',
          'height': '44px'
        }
      })
