include ../radio-button/radio-button.pug
include ../heading/heading.pug
include ../text-field/text-field.pug
include ../toggle-button/toggle-button.pug
include ../button/button.pug

mixin form-registration( { action='/mock-address/change-me', name='form-registration', method='post' } = {} )
  form.form-registration(action=action name=name method=method)
    .form-registration__wrapper
      .form-registration__heading
        +heading({ type: 'h1', text: 'Регистрация аккаунта' })

      .form-registration__text-field-first-name
        +text-field({
          type: 'text',
          name: 'input-email',
          placeholder: 'Имя',
          width: 'full-wide',
        })
      .form-registration__text-field-second-name
        +text-field({
          type: 'text',
          name: 'input-email',
          placeholder: 'Фамилия',
          width: 'full-wide',
        })

      .form-registration__radio-buttons
        .form-registration__radio-button
          +radio-button({ name:'form-registration', value:'man', text:'Мужчина', checked:'true' })
        .form-registration__radio-button
          +radio-button({ name:'form-registration', value:'woman', text:'Женщина' })

      .form-registration__heading-birthday
        +heading({ type: 'h3', text: 'Дата рождения' })
      
      .form-registration__masked-text-field-birthday
        +text-field({
          placeholder: 'ДД.ММ.ГГГГ',
          theme: 'masked'
        })

      .form-registration__heading-login-data
        +heading({ type: 'h3', text: 'Данные для входа в сервис' })

      .form-registration__text-field-email
        +text-field({
          type: 'email',
          name: 'input-email',
          placeholder: 'Email',
          width: 'full-wide',
        })
      .form-registration__text-field-password
        +text-field({
          type: 'password',
          name: 'input-email',
          placeholder: 'Пароль',
          width: 'full-wide',
        })

      .form-registration__toggle-button
        +toggle-button({ name: 'toggle', text: 'Получать спецпредложения' })

      .form-registration__button-long
        +button({
          typeOfStyle: 'long', 
          href: '/mock-address/change-me', 
          text: 'Перейти к оплате',
          type: 'submit',
        })   

      .form-registration__login
        p.form-registration__login-text Уже есть аккаунт на Toxin
        +button({
          'typeOfStyle': 'faint', 
          'href':'/mock-address/change-me', 
          'text': 'Войти', 
        })
