include ../material-icons/material-icons.pug

mixin button-long({ type = '', href = '/mock-address/change-me', style = '', text = 'click me' } = {})
  button(href=href class='button-long' style=style type=type)=text
    .button-long__arrow
      +material-icons('arrow_forward', {
        'color': '#FFF'
      })


//- ***************
//- *** EXAMPLE ***
//- 
//- +button-long({
    href: '/mock-address/change-me', 
    text: 'click me',
    type: 'sumbit',
    style: {}
  })
//- 
//- ***************