@import './__arrow/button-long__arrow.scss';

.button-long{
  //**** from button ******
  height: 44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: none;
  padding: 0;

  font-family: "Montserrat";
  font-weight: bold;
  // font-size: 12px;
  font-size: .75rem;
  line-height: 15px;
  text-transform: uppercase;
  //*************

  width: 320px;
  height: 44px;
  color: #fff;
  position: relative;
  &:hover{
    opacity: .5;
  }
}