include ../material-icons/material-icons.pug

mixin button-long(href, text, style)
  button(href=href class="button-long" style=style)=text
    .button-long__arrow
      +material-icons('arrow_forward', {
        'color': '#FFF'
      })


//- ***************
//- *** EXAMPLE ***
//- 
//- +button-long('/mock-address/change-me', 'click me')
//- 
//- ***************