include ../material-icons/material-icons.pug

mixin list-of-links({ links = [], indentBetweenElements = null } = {})
  - let indentModifier = null

  case indentBetweenElements
    when 'large'
      - indentModifier = 'list-of-links_indent_large'
  
  ul.list-of-links(class=indentModifier)
    each link in links
      - const { isDropdown, isActive, href = '/mock-address/change-me', text = 'click me' } = link
      li.list-of-links__item(class=isDropdown ? 'list-of-links__item_with-dropdown' : null)
        a.list-of-links__link(href=href class=isActive ? 'list-of-links__link_active' : null)=text
        if isDropdown
          .list-of-links__arrow-down
            +material-icons({
              type: 'keyboard_arrow_down', 
              color: 'shade',
            })