include ../material-icons/material-icons.pug

mixin list-of-links({ links = [], indentBetweenElements = '' } = {})
  - let indentModifier = ''

  case indentBetweenElements
    when 'large'
      - indentModifier = 'list-of-links_indent_large'
  
  ul.list-of-links(class=indentModifier)
    each link in links
      li.list-of-links__item(class=link.isDropdown ? 'list-of-links__item_dropdown' : '')
        if link.href === undefined
          - link.href = '/mock-address/change-me'
        if link.text === undefined
          - link.text = 'click me'
        a.list-of-links__link(href=link.href class=link.isActive ? 'list-of-links__link_active' : '')=link.text
        if link.isDropdown
          .list-of-links__arrow-down
            +material-icons({
              type: 'keyboard_arrow_down', 
              color: 'shade',
            })