.list-of-links{
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  
  @media (max-width: 804px) {
    flex-direction: column;
    padding: 10px 0;
  }
  
  &__item {
    list-style: none;
    display: inline;
    margin-right: 30px;

    &:last-of-type {
      margin-right: 0;
    }

    @media (max-width: 804px) {
      display: block;
      margin-top: 5px;
      margin-right: 0;
      text-align: center;
    }
    
    @media (min-width:804px) and (max-width: 880px) {
      margin-right: 10px;
    }

    &_dropdown {
      display: flex;
      align-items: center;
      margin-right: 19px;
    
      @media (max-width: 804px) {
        margin-right: 0;
      }
    }
  }

  &__link {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 70px;
    color: $shade;
    position: relative;
    text-decoration: none;

    &_active {
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: $dark-shade;
    }

    @media (max-width: 804px) {
      line-height: 24px;
    }
  }

  &__arrow-down {
    display: flex;
    align-items: flex-end;
    margin-top: 4px;
    cursor: pointer;
  }
}