mixin bullet-list({ values = [ { text: 'Enter', type: 'good' }, { text: 'paragraphs', type: 'bad' }, { text: 'here', type: 'ok' }], reserveText = 'There are no values', } = {})
  - let typeModifier = null
  section.bullet-list
    ul.bullet-list__list
      each value in values
        - const { type, text, } = value
        case type
          when 'great'
            - typeModifier = 'bullet-list__item_great'
          when 'good'
            - typeModifier = 'bullet-list__item_good'
          when 'ok'
            - typeModifier = 'bullet-list__item_ok'
          when 'bad'
            - typeModifier = 'bullet-list__item_bad'
          default
            - typeModifier = null
        li.bullet-list__item(class=typeModifier)=text
      else
        li.bullet-list__item=reserveText