.bullet-list{
    max-width: 282px;
}

.bullet-list__list{
    padding: 0;
}

.bullet-list__item{
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade-75;
    margin-top: 10px;
    list-style-type: none;
    padding-left: 20px;
    position: relative;

    &::before{
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $dark-shade-25;
        display: inline-block;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 7px;
    }
}

