mixin bullet-list(values)
  .bullet-list
    ul.bullet-list__list
      each val in values
        li.bullet-list__item= val
      else
        li.bullet-list__item There are no values



//- ***************
//- *** EXAMPLE ***
//- 
//- +bullet-list(['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])
//- 
//- ***************