mixin bullet-list({ values = [ { text: 'Enter', circleColor: 'good' }, { text: 'paragraphs', circleColor: 'bad' }, { text: 'here', circleColor: 'ok' }], reserveText = 'There are no values', } = {})
  - let circleColorModifier
  section.bullet-list
    ul.bullet-list__list
      each value in values
        - const { circleColor, text, } = value
        case circleColor
          when 'great'
            - colorModifier = 'bullet-list__item_color_great'
          when 'good'
            - colorModifier = 'bullet-list__item_color_good'
          when 'ok'
            - colorModifier = 'bullet-list__item_color_ok'
          when 'bad'
            - colorModifier = 'bullet-list__item_color_bad'
          default
            - colorModifier = null
        li.bullet-list__item(class=colorModifier)=text
      else
        li.bullet-list__item=reserveText