include ../heading/heading.pug

mixin dropdown-option({ text = 'Option' } = {})
  section.dropdown-option
    +heading({ type: 'h3', text: text })
    .dropdown-option__container
      .dropdown-option__item.dropdown-option__item_circle.dropdown-option__item_un-active -
      .dropdown-option__item.dropdown-option__item_number 0
      .dropdown-option__item.dropdown-option__item_circle +



//- +dropdown-option({ text: 'Взрослые' })