include ../heading/heading.pug

mixin dropdown-option( title = '' )
  section.dropdown-option
    +heading('h3', title)
    .dropdown-option__container
      .dropdown-option__item.dropdown-option__item_circle.dropdown-option__item_un-active -
      .dropdown-option__item.dropdown-option__item_number 0
      .dropdown-option__item.dropdown-option__item_circle +



//- +dropdown-option('Взрослые')