@import './__container/dropdown-option__container.scss';
@import './__item/dropdown-option__item.scss';
@import './__item/_number/dropdown-option__item_number.scss';
@import './__item/_hidden/dropdown-option__item_hidden.scss';
@import './__item/_circle/dropdown-option__item_circle.scss';
@import './__item/_un-active/dropdown-option__item_un-active.scss';

.dropdown-option{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

